<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main" class="blog">
                    
                <div id="content">
                    <div class="content-box">
                        <div class="box-c">
                            <div class="box-holder">
                                <div class="head">
                                    <h1><%=L("blog-posts-category-title", { category_name: category.name })%></h1>
                                </div> <!-- #head -->

                                <%=block("BlogPost/loop")%>

                                <%=block("UI/paging")%>
                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->
                </div><!-- #content -->

                <%=block("BlogPost/sidebar")%>

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>