@media screen and (max-width: 960px){
	#featured-top.category{
		display: none;
	}
	.category .sidebox .sidebox-heading{
		background-color:  #DEF1F9;
		color: #fff;
		border-bottom: 0;
	}
	.category .content-box .head{
		margin-top: 80px;
	}
	.category .content-box .counter{
		display: none;
	}
	html .category .content-box .head h1{
		color: #fff;
		font-size: 2.5rem;

	}
	
	
	
}

