html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background:transparent;
	border:0;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
body {
	line-height:1;
}
h1, h2, h3, h4, h5, h6 {
	clear:both;
	font-weight:normal;
	margin-bottom:10px;
}
ol, ul {
	list-style:none;
}
blockquote {
	quotes:none;
}
blockquote:before, blockquote:after {
	content:'';
	content:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
	border:none;
	outline:none;
}
a img {
	border:none;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	height:0;
	line-height:0px;
	font-size:0px;
	overflow:hidden;
}
/* -- Firefox 1px button fix */
button::-moz-focus-inner {
	padding:0;
	border:0
}

:focus {
	outline:none;
}

html, body {
	height:100%;
}
body {
	margin:0;
	color:#184E65;
	font:14px/20px Ubuntu, Helvetica, Arial, sans-serif
}
p {
	margin:0;
}
h1 {
	font-size:2em;
}
h2 {
	font-size:1.8em;
}
h3 {
	font-size:1.6em;
}
h4 {
	font-size:1.2em;
}
h5 {
	font-size:1em;
}
h6 {
	font-size:.8em;
}
hr {
	background-color:#e6e6e6;
	border:0;
	height:1px;
	margin-bottom:20px;
}
img {
	border-style:none;
}
a {
	color:#19AACF;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

#main #content ul {
	list-style: disc;
	list-style-position: inside;
}
.blog form label {
	display: block;
	padding: 10px 0;
}
.blog form button {
	display: block;
	width: 100px;
	text-align: center;
	border: none;
	background-color: #36B0E3;
	padding: 10px 10px;
	color: #FFF;
	margin: 20px 0;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.blog form button:hover {
	background-color: #133C4D;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea {
	font-family:Ubuntu, Arial, Helvetica, sans-serif;
	border:1px solid #AEC2C2;  
	margin-top:0;  
	margin-bottom:10px;  
	padding:8px 12px;  
	width:350px;
	background:#f9f9f9; 
	font-size:14px; 
	max-width:100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input[disabled] {
	background:#eee !important;
	border-color:#8A8A8A !important;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
	border-color: #CCC;
}
input[type="checkbox"], input[type="radio"] {
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	padding:0;
	vertical-align:sub;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
	min-width:0;
}
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.iconfix i {
	margin-right:5px;
	font-size:16px;
}
p.time-left.iconfix i, div.expired-coupon-info.iconfix i {
	font-size:14px;
}
.content-box .iconfix h3 {
	font-weight:bold;
}
.content-box .iconfix h3 i {
	font-weight:normal;
	font-size:24px;
}
.iconfix a {
	color:inherit !important;
	text-decoration:none;
}
.iconfix a:hover {
	text-decoration:underline;
}