#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	height: 67px;
	transition: all 0.3s;
	background: rgba(36, 169, 225, 0.7);
}
#header .holder {
	width:100%;
}
#header .holder-panel {
	background:#323232;
	position: relative;
}
#header .frame {
	margin:0 auto;
	padding:0 10px;
	width:960px;
}
#header .panel {
	width:960px;
}
#header .panel a {
	color:#999;
	text-decoration:none;
}
#header .panel a:hover, #header .panel .active > a {
	color:#fff;
}
/* =Header layout styles
-------------------------------------------------------------- */

.nav-menu {
	width:100%;
	height:47px;
	clear:both;
	border-radius: 5px;
}

#nav {
	margin:0;
	padding:10px 0 0;
	list-style:none;
	font-size:14px;
	line-height:20px;
	position:relative;
	float:left;
	display:inline;
}
* html #nav {
	margin:0;
}
* html .inner #nav {
	margin:0 0 0 32px;
}
.tinynav {
	display:none;
}
#header .panel li {
	float:left;
	margin-right:10px;
	position:relative;
	z-index:999;
}
#header .panel li:after, #header .panel .add-nav li:last-child:after {
	color: #4F4F4F;
    content: "|";
    font-size: 15px;
    line-height: 1.11111em;
    margin-left: 10px;
    vertical-align: -1px;
}
#header .panel li:last-child:after {
	content:"";
	margin-left:0;
}

/*#nav li.menu-arrow a {
	padding-left:30px;
}*/
#nav li {
	padding-bottom:10px;
}
#header .panel ul.menu ul.sub-menu {
	display:none;
	position:absolute;
	width:auto;
	z-index:998;
	top:15px;
	left:-40px;
	-moz-box-shadow: 0 3px 0 -1px #CBD8D8;
	-webkit-box-shadow: 0 3px 0 -1px #CBD8D8;
	box-shadow: 0 3px 0 -1px #CBD8D8;
	border-bottom: none;
}
#header .panel ul.menu ul.sub-menu:before {
	content: "\f0d8";
	display:block;
    text-decoration: inherit;
	font-family:FontAwesome;
	margin-right:5px;
	font-size:24px;
	color:#fff;
	padding-left:50px;
	height:15px;
	cursor:pointer;
}
#header .panel ul.menu li:hover ul.sub-menu {
	display:block;
}
#header .panel ul.menu ul.sub-menu li {
	background:none;
	padding:0;
	margin:0;
	border-left: none;
	border-right: none;
}
#header .panel ul.menu ul.sub-menu li:hover {
	margin-top:0;
}
#header .panel ul.menu ul.sub-menu li:after {
	content:"";
	margin:0;
	padding:0;
}
#header .panel ul.menu ul.sub-menu li a {
	text-align:left;
	width:167px;
	padding:10px;
	color:#4F4F4F;
	display:block;
	background:#fff;
}
#header .panel ul.menu ul.sub-menu li a:hover {
	color:#19AACF;
}
#header .panel ul.menu ul.sub-menu li ul.sub-menu {
	display:none;
	left:177px;
	margin:-2px 0 0 0;
	top:2px;
}
#header .panel ul.menu ul.sub-menu li:hover ul.sub-menu {
	display:block;
}
#header .bar {
	float:right;
	display:inline;
}

#header .panel .bar li {
	margin-right:5px;
}
#header .panel .bar li:after {
    margin-left: 5px;
}

#header .add-nav {
	margin:10px 0;
	padding:0;
	list-style:none;
	float:right;
	font-size:12px;
	line-height:20px;
}

/* =Header social icon styles
-------------------------------------------------------------- */
#header .social {
	margin:10px 0;
	padding:0;
	list-style:none;
	float:right;
	font-size:12px;
	line-height:20px;
}
#header .social li a, .rss-link {
	float:left;
	/*text-indent:-9999px;*/
	overflow:hidden;
	width:14px;
	height:20px;
}

.header-bar {
	width:960px;
	position: relative;
}
.header-bar .search-box {
	margin: 15px 0;
}
#logo {
	overflow: hidden;
	max-width: 450px;
	height: 66px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: top 0.3s;
}
#logo a, #logo img {
	display:block;
	height: 85px;
	margin-top: -13px;
	transition: all 0.3s;
}
#logo h1 {
	clear:none;
	display: block;
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
	line-height:30px;
	font-size:24px;
}
#logo .description {
	padding-top:5px;
}
.twitterBoxHeadLink {
	color: #184E65;
}
.slogan {
	display:block;
	font:italic 12px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#7a7676;
	margin:-29px 0 0;
	width:365px;
}

.rss-link {
	position:absolute;
	top:15px;
	right:15px;
	width:20px;
}
.rss-link:hover {
	text-decoration:none;
}
.rss-link:before {
	content: "\f143";
	display: inline-block;
    text-decoration: inherit;
	font-family:FontAwesome;
	margin-right:5px;
	font-size:20px;
	color:#FFA851;
}
/* =Search box styles
-------------------------------------------------------------- */
#header .search-box {
	display: block;
	position: absolute;
	top: 13px;
	left: 50%;
	margin: 0 0 0 -244px;
	padding: 0;
	/*width: 488px;*/
	background: #FBFEFF;
	transition: all 0.3s;
}

#header .search-box input {
	border: none;
	color: #184E65;
	text-shadow: none;
	background: none;
	font-size: 16px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	height: 36px;
	width: 204px;
	text-indent: 8px;
	font-size: 16px;
	line-height: 40px;
	height: 40px;
	width: 448px;
	padding-left: 7px;
	/*border-bottom: 2px dashed #99DCF9 !important;*/
}
#header .search-box .btn-submit {
}
#header .search-box ::-webkit-input-placeholder {
	color: #6BA9C3;
}
#header .search-box :-moz-placeholder { /* Firefox 18- */
	color: #6BA9C3;
}
#header .search-box ::-moz-placeholder {  /* Firefox 19+ */
	color: #6BA9C3;
}
#header .search-box :-ms-input-placeholder {  
	color: #6BA9C3;
}

#header .search-box input:focus {
	border: 0 none;
}

#header .search-box .btn-submit {
	background: none;
	border: 0 none;
	color: #205F79;
	padding: 0 10px;
	margin: 0;
	top: 12px;
	font-size: 20px;
	height: 36px;
	overflow: hidden;
	float: right;
	line-height: 38px;
	cursor: pointer;
	text-shadow: none;
	transition: color 0.15s;
}
#header .search-box .btn-submit:hover {
	color: #000;
}

#header .search-box span {
	font-size:11px;
	line-height:13px;
	color:#011c2d;
	margin-left:2px;
	padding:2px 0 2px 23px;
	display:none;
}



#header .nav-toggle-link {
	color: #F2F9FC;
	font-size: 31px;
	line-height: 35px;
	padding: 15px 5px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	transition: all 0.3s;
}
#header .nav-toggle-link:hover {
	color: #FFF;
	transform: translate(0, 2px);
  	text-shadow: 0 0 2px #FFF;
}
#header .nav {
  	text-shadow: none !important;
	display: block;
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	font-size: 22px;
	top: 60px;
  	right: -10px;
	cursor: default;
	padding: 10px;
	z-index: 7;
	transition: all 0.3s;
	box-sizing: border-box;
}
#header .nav-toggle-link:hover .nav,
#header .nav-toggle-link .nav:hover {
	height: auto;
	width: 200px;
	top: 40px;
	opacity: 1;
}
#header .nav > .inner {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 6px #2580A6;
	-webkit-box-shadow: 0 2px 6px #2580A6;
	box-shadow: 0 2px 6px #2580A6;
	overflow: hidden;
	background: #2580A6;
}
#header .nav .item .icon {
	width: 18px;
	text-align: left;
}
#header .nav .item {
	color: #FFF;
	padding: 10px;
	text-align: left;
	width: 188px;
	display: inline-block;
	line-height: 20px;
	height: 44px;
	text-decoration: none;
	transition: color 0.15s;
	position: relative;
	font-size: 16px;
	background: #2580A6;
	border-bottom: 1px solid #2580A6;
}
#header .nav .item:hover {
	color: #2580A6;
	background: #FFF;
}
#header .nav .icon-caret-up {
	position: absolute;
	top: -5px;
	right: 23px;
	color: #2580A6;
	font-size: 22px;
	text-shadow: none;
}


#header.scrollBelow {
	height: 50px;
	background: rgba(36, 169, 225, 0.9);
}
#header.scrollBelow #logo {
	top: 0;
}
#header.scrollBelow #logo img {
	height: 60px;
	padding-top: 6px;
}
#header.scrollBelow .search-box {
	top: 8px;
}
#header.scrollBelow .search-box .btn-submit {
	font-size: 18px;
	line-height: 34px;
	height: 34px;
}
#header.scrollBelow .search-box input {
	line-height: 34px;
	height: 34px;
}
#header.scrollBelow .nav-toggle-link {
	top: -8px;
	font-size: 25px;
}
#header.scrollBelow .nav {
	top: 7px;
}

.ui-autocomplete-loading{
}
ul.ui-autocomplete, .ui-menu{
	z-index:9999; 
	font:normal 14px Ubuntu, Arial, Helvetica, sans-serif;
	border:1px solid #BBBBBB;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding:0;
}

.ui-menu .ui-corner-all {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	margin:0 !important;
}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
	background:#eee;
	border:none;
	margin:0 !important;
}
.newtag {
	z-index:99;
	position:relative;
}
a.tax-link {
	padding:0 5px 0 0;
}