@media screen and (max-width: 960px){
	html body{
		background-color: #36b0e3;
	}
	html #wrapper{
		max-width: 100%;
		overflow-x: hidden;
	}
	html #header {
	    height: 95px;
	    background: rgb(36, 169, 225)!important;
	}
	html #featured-top{
		overflow: visible;
	}
	html #main{
		background: #36b0e3;
		max-width: 960px;
		width: auto;
	}
	.header-bar{
		top: 10px;
	}
	html #logo{
		max-width: 200px;
		margin: 0 auto;
		position: relative;
		top: 0;
		left:15px;
		z-index: 5;
	}
	html #header.scrollBelow #logo{
		max-width: 200px;
		margin: 0 auto;
		position: relative;
		top: 10px;
	}
	html #header.scrollBelow{
		    width: 100%;
		    position: fixed;
		    top: 0;
		    left: 0;
		    z-index: 6;
		    height: 67px;
		    transition: all 0.3s;
		    background: rgba(36, 169, 225, 0.7);
	}
	html #header.scrollBelow #logo img {
	   
	    max-width: 200px;
	    margin: 0 auto;
	}
	html #header .nav .item{
		width: 100%;
		padding: 3% 5%;
		display: block;
		position: static;
	}
	html #header .nav-toggle-link{
		position: fixed;
		left: -10px;
		padding: 0;
		margin: 0;

	}
	html #header .nav-toggle-link .icon.icon-bars{
		padding-left: 30px;
		padding-top: 30px;
	}
	/*#header .nav-toggle-link:hover{
		background: #2580a6;
	}*/
	#header .nav-toggle-link .icon.icon-bars:hover{
		background: transparent;
	}
	html #header .nav, 
	html #header .nav-toggle-link:hover .nav, 
	html #header .nav-toggle-link .nav:hover{
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
		top: 22px!important;
	}
	html #header .nav-toggle-link .icon.icon-bars:hover .nav, 
	html #header .nav-toggle-link .nav:hover{

	}
/*-------------------- Store - thumb - list ----------------------*/

	html .home #main{
		padding: 0;
	}
	html #content{
		margin-top: 0;
		float: none;
		margin: 0 auto;
	}
	#featured-top .frame{
		padding: 0!important;
	}
	.home ul.store-thumb-list{
		background: #fff;
		margin: 0!important;
	}
	html ul.store-thumb-list li{
		max-width: 100%;
		width: 50%;
		height: 150px;
		margin: 0;
		position: relative;
		border: 1px solid #d1d3d4;
	}
	html ul.store-thumb-list li .logo-img{
		max-height: 70px;
	}
	html ul.store-thumb-list li a.desc-mobile{
		position: absolute;
		bottom: 10px;
    	text-align: center;
    	font-weight: 300;

	}
	html ul.store-thumb-list li:hover .logo-img{
		display: inline-block;
		pointer-events:none;

	}
	html ul.store-thumb-list li a{
		display: block;
		font-size: 20px;
		font-weight: 300;
		color: #5d5d5d;
		margin-left: -10px;
	}
	html ul.store-thumb-list li .logo-img{
		max-width: 150px;
		margin-top:40px;
		
	}

	/*-------------------- Store - thumb - list ----------------------*/

	html .content-box .head{
		background: #36b0e3;
		text-align: center;
		color: #fff;
	}
	html .content-box .head h2{
		color: #fff;
		font-size: 28px;
	}
	html .coupon.item.even{
		background: #fff;
		margin: 25px;

	}
	html .coupon.item{
		background: #fff;
		margin: 25px;
		max-height: auto;

	}
	html .head .counter, .head .counter-red{
		position: relative;
		text-align: center;
		color: #fff!important;
		font-size: 20px;
	}
	.box-holder{
		background: #36b0e3;
	}
	html .coupon.item .redeem-area{
		float: none;
		
	}
	html .content-box .store-holder{
		width:30%;
	}
	html .coupon .item-panel h3 > span{
		font-size: 20px;
		color: #19AACF;
	}
	html .coupon .item-panel h3 > a {
		color: #939598;
	}

	html .coupon .item-panel h3{
		font-size: 20px;
		color: #74c8ec;
	}
	html .content-box .item-frame{
		display: inline-block;
		float: right;
		width: 54%;
		padding-left: 0;

	}
	html .coupon.item .item-info-blocks .block{
		transform: none;
	}
	html .coupon.item .item-info-blocks .block.new{
		transform: none;
		top: 10px;
		right: 10px;
	}

	/*------------------------------ Sidebar ---------------------------------*/
	html #sidebar{
		float: none;
		display: block;
		max-width: 620px;
		width: auto;
		margin: 0 auto;
	}
	html .sidebox{
		margin: 40px 25px;
	}
	html .sidebox .sidebox-heading{
		border-bottom: 2px solid #74c8ec;
	}
	html .sidebox .sidebox-heading h2,
	html .sidebox .sidebox-heading h2 a{
		font-size: 1.4em;
	}
	#sidebar lideal.DisplayItem{
		line-height: 2.5;
	}

	/*----------------------------- Blog blocks -------------------------------*/
	html .blog-block{
		display: none;
	}

	html ul.store-link-list li{
		display: block;
	}
	html .content-box.features{
		max-width: 570px;
    	margin: 0 auto;
    	padding-bottom: 15px;
    	display: block;

	}
	html .content-box.features .blog{
		padding: 0;
	}
	html .content-box.features .head{
		background: #fff;
		border-bottom: 2px solid #74c8ec;
		margin-bottom: 0;
	}

 
	html #footer-subscribe-form .checkbox{
		display: block;
		text-align: left;
		padding: 0;
		margin: 0 auto;
    	max-width: 150px;
    	font-size: 14px;
    	margin-bottom: 10px;

	}
	html #footer-subscribe-form .email-input{
		display: block;
		margin: 0 auto;
	}
	#footer .panel{
		background-color: transparent;
	}
	html #footer .bar-holder ul li{
		display: block;
	}
	html #footer-subscribe-form .submit-btn{
		padding: 0 92px;
		margin-top: 10px;
	}
	html #sidebar .widget-custom-coupons .coupon-ticker .list li a{
		color: #939598;
		font-size: 16px;
	}
	html .content-box.features  ul.store-link-list li{
		width: 100%;
		padding: 10px;
		border-bottom: 1px dashed #dbdbdb;
		
	}
	html .content-box.features  ul.store-link-list li a{
		color: #36b0e3;
		font-size: 16px;
	}
	html .content-box.features ul.store-link-list li:last-of-type{
		border-bottom: none;
	}
	
	html .content-box .head h1{
		text-align: left;
	}
	html .home .head .counter:after{
		
		max-width: 500px;
		margin: 0 auto;
		content: url(../images/line.png);
	}
	html .coupon.item .redeem-area{
		width: auto;
	}

	html .content-box .blog p{
		margin: 5px 0;
	}

	html .coupon.item .redeem-btn{
		display: inline-block;
		float: none;
		width: auto;
		padding: 0 20px;
		position: absolute;
		bottom: 80px!important;
    	margin-left: 40px;

	}
	html .coupon.item .block.b-social{
		display: inline-block;
		float:left;
		width: auto;
		padding-top: 20px;
	}
	html .coupon.item .redeem-btn .icon{
		right: 5px;
	}
	.coupon.item .item-info-blocks .block.new{
		color: #fff;
	}
	html ul.store-thumb-list li:hover a{
		display: block;
	}
	html .coupon.item .redeem-btn{
		background: url(../images/coupon2.png) no-repeat;
    	width: 225px;
    	box-shadow: 0 2px #fff;
    	background-color: transparent;
	}
	html .coupon.item .redeem-btn:hover{
		background-color: transparent;
    	box-shadow: none;
    	transform: none;
    	text-transform: none;
	}
	html .coupon.item .redeem-btn i{
		display: none;
	}
	html .coupon.item .redeem-btn .redeem-txt{
		font-size: 2.5rem;
    	text-transform: uppercase;
	}
	html .coupon.item .redeem-btn:hover .redeem-txt{
		transform: none;
	}
	html .b-social .rrssb-buttons li svg{
		display: none;
	}
	html .b-social .rrssb-buttons li.rrssb-facebook{
		background: url(../images/fb.png) no-repeat;
		background-color: transparent;
	}
	html .b-social .rrssb-buttons li.rrssb-twitter{
		background: url(../images/twitter.png) no-repeat;
		background-color: transparent;
	}
	html .b-social .rrssb-buttons li.rrssb-pinterest{
		background: url(../images/pint.png) no-repeat;
		background-color: transparent;
	}
	html .b-social .rrssb-buttons li.rrssb-email{
		background: url(../images/email.png) no-repeat;
		background-color: transparent;
	}
	html .content-box .item:hover{
		background: #fff;
	}
	html .coupon.item .redeem-area .inner{
		vertical-align: top;
	}

	html .top.noPaging{
		display: none;
	}
	html .rrssb-buttons li.rrssb-facebook a,
	html .b-social .rrssb-buttons li.rrssb-twitter a,
	html .b-social .rrssb-buttons li.rrssb-pinterest a,
	html .b-social .rrssb-buttons li.rrssb-email a{
		background-color: transparent;
	}
	html .b-social .rrssb-buttons{
		width: auto;
    	height: 60px;
	}
	html .b-social .rrssb-buttons li{
		width: 45px;
		height: 45px;
		margin: 5px;
		display: inline-block;
	}

	
	html #header .nav > .inner{
		padding-bottom: 20px;
		-webkit-border-radius: 0;
		border-radius: 0;
		background: #24a8e1;
		-webkit-box-shadow: 0 2px 6px #24a8e1;
    	box-shadow: 0 2px 6px #24a8e1;
	}
	html #header .nav .item{
		background: #24a8e1;
		border-bottom: 1px solid #24a8e1;
	}
	html .search-icon{
		z-index: 10000;
		right: 10px;
		top: 10px;
	}
	html #header .frame{
		padding: 0;
	}
	html .dropdown{
		max-width: 100%;
		position: relative;
		z-index: 10000;
	}
	html #header .search-box.desktop{
		display: none;
		top:76px;
	}
	html #header .search-box{
		top: 0;
	}
	html .dropdown .search-icon{
		display: block;
		position: absolute;
		top: -45px;
		right: 15px;
		font-size: 2.9rem;
		z-index: 999999;
		color: #fff;
	}
	.dropdown .box.collapse{
		height: 70px;
		background: #24a8e1;
	}
	.dropdown .box.collapse.in{
		height: 70px;
		background: #24a8e1;
	}
	
	


	/*------------------------ Mobile ------------------------*/
	html #popupBox.deal{
		border: 0;
		padding: 25px;
	}
	html #popupBox.deal .title{
		width: auto;
		padding: 20px;
		display: inline-block;
		float: none;
		color: #58595b;
		font-size: 20px;
	}
	html #popupBox.visibleStep{
		max-width: 500px;
	}
	html #popupBox.deal .deal-image{
		float: none;
		display: inline-block;
		width: auto;
	}

	html #popupBox.deal .store-line{
		float: none;
		display: block;
		font-size: 2rem;
	}
	html #popupBox.deal .store-line a{
		color: #6cc5ea;
		font-size: 20px;
	}
	html #popupBox.deal .code > .code{
		color: #58595b;
		border-top: 2px solid #58595b;
    	border-bottom: 2px solid #58595b;
	}
	html #popupBox.deal .visitBtn > a{
		letter-spacing: 1px;
		font-size: 22px;
	}

}

@media screen and (max-width: 540px){
	html .coupon.item .redeem-btn{
		margin-left: 0;
		bottom: 20px!important;
    	left: 15px;

	}
}