.store .about-store-box .site-link{
	display: none;
}
.store .nav.nav-tabs{
	display: none;
}
.store{
	background: transparent!important;
}
.store #sidebar{
		margin-top: 20px;
	}
@media screen and (max-width: 960px){
	html .store{
		background: #36b0e3!important;
	}
	#breadcrumbs, 
	.about-store-box > .description, 
	.about-store-box > .nav-bar,
	.store .content-box.about,
	.block-comments,
	.store .sidebox,
	.store .content-box.related,
	.inline-box.store-deal-alerts{
		display: none;
	}
	.store .sidebox.similar-stores{
		display: block;
	}

	html .store .sidebox.similar-stores .storeTile .logo,
	html .store .sidebox.similar-stores .storeTile .discounts-available,
	html .store .sidebox.similar-stores .storeTile .name{
		max-width: 50%;
	}
	html .store .sidebox.similar-stores .storeTile .name{
		font-size: 20px;
		color: #36b0e3;
	}
	html .store .sidebox.similar-stores .storeTile .discounts-available{
		font-size: 16px;
		font-weight: 300;

	}
	.store .sidebox.similar-stores .sidebox-heading{
		background-color: #DEF1F9;
		border-bottom: 0;
	}
	html .coupon.item.no-deal-image .store-holder{
		float:none;
		display: inline;
		width: 45%!important;
	}
	html .content-box .item-frame{
		float:none;
		display: inline-block;
		width: 50%!important;
	}
	html .about-store-box > .info-bar .review-score .review-star-display{
		display: block;
	}
	html .coupon.item .redeem-area{
		padding: 0 15px;
	}
	html .coupon.item.even{
		margin: 25px 25px 0 25px;
	}
	html .about-store-box{
		margin-top: 0;
		padding: 25px;
		background-color: #133C4D;
	}
	html .about-store-box .logo{
		width: 200px;
    	height: 200px;
    	margin: 0 50px;
    	border-radius: 50%;
		background-color: #fff;
		display: inline;
	}
	html .about-store-box h1.title{
		width: auto;
		float: none;
		color: #fff;
		margin: 10px;
	}
	html .about-store-box > .info-bar{
		width: auto;
		float: none;
		margin: 10px;
	}
	html .about-store-box > .info-bar .review-score .review-star-display{
		display: block;
		color: #ffff00;
	}
	html .about-store-box > .info-bar{
		display: block;
	}
	html .about-store-box > .info-bar .info-item{
		padding-right: 0;
		display: inline-block;
		margin-left: 10px;
		font-size: 18px;
		font-style: italic;
		font-weight: 300;
	}

	.store .info-block{
		    display: block;
		    padding: 30px 5px 0 5px;
		    max-width: 100%;
		    margin: 0 auto;
		    text-align: center;
	}

	.store .about-store-box .site-link{
		display: block;
		line-height: 2;
		background-color: #36b0e3;
		text-transform: uppercase;
		margin: 15px 0;
	}
	.store .about-store-box .site-link a{
		color: #fff;
		font-size: 20px;
		letter-spacing: 1px;
    	font-weight: 300;
    	padding: 0 33px;
	}

	/*---------------------- Store Tab --------------------------*/
	.store .nav.nav-tabs{
		background-color: #133C4D;
		border: 0;
		display: block;
	}
	html .nav.nav-tabs > li > a, 
	html .nav-tabs>li > a, 
	html .nav-tabs>li > a:focus, 
	html .nav-tabs>li > a:hover{
		color: #fff;
		background-color: transparent;
		border: 0;
		font-size: 1.8rem;
		letter-spacing: 1px;
		font-weight: 300;
		border-radius: 0;
		line-height: 1.42857143;
	}
	html .nav.nav-tabs > li.active > a,
	html .nav-tabs>li.active>a, 
	html .nav-tabs>li.active>a:focus, 
	html .nav-tabs>li.active>a:hover{
		background-color: #36b0e3;
		border: 0;
	}
	html .nav>li>a:focus, .nav>li>a:hover{
		background-color: transparent;
	}
	
}



