<div id="sidebar">
    <%=block("BlogCategory/categories")%>

    <a class="twitter-timeline" href="https://twitter.com/CoupofyUSA" data-widget-id="634677109806530560"><%=L("tweets-by-coupofy")%></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>