<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">

                <div id="content-fullwidth">

                    <%=block((!page.display)? "WebsitePage/display-default" : "WebsitePage/display-" + page.display)%>

                    <!-- Dynamic content boxes -->
                    <% if(page.content_boxes && page.content_boxes.length > 0) { %>
                        <% page.content_boxes.forEach(function (cb) { cb.contentWrap = true; %>
                        <%=block("UI/content-box", cb)%>
                        <% }) %>
                    <% } %>

                    <!-- Comments -->

                </div><!-- #content -->

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>