<%
function outputCategories(categories,parent, L) {
    print('<ul class="list">');
    categories.forEach(function (cat) {
        if(cat.path === parent) {
            print('<li class="catDisplayItem"><a href="/' + L("uri-category") + '/' + cat.slug + '" class="catLink">' + cat.name + '</a>')    
            outputCategories(categories, cat.full_path, L);
            print('</li>');
        }
    });
    print('</ul>');
}
%>
<% if(subcategories && subcategories.length > 0) { %>
<div id="category-subcategories" class="sidebox widget-custom-coupons">
    <div class="cut"></div>
    <div class="sidebox-content">
        <div class="sidebox-heading"><h2><%-L("subcategories")%></h2></div>
        <div class="coupon-ticker">
            <% outputCategories(subcategories, category.full_path, L) %>
        </div>
    </div>
    <div class="sb-bottom"></div>
</div>
<% } %>