<%=block("UI/head")%>
<%=block("UI/header")%>

<% var letters = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
    var numbers = [ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']; %>
            <div id="main">
                
                        
                    <div id="content">
                        <div class="content-box">
                            <div class="box-c">
                                <div class="box-holder">
                                        <div class="head">
                                            <h1><%-L("deal-categories")%></h1>
                                        </div> <!-- #head -->

                                        <div class="blog">
                                            <div class="grouplinks">
                                                <a href="/<%=L("uri-categories")%>#categories-numbers">#</a>
                                                <% letters.forEach(function (letter) { %>
                                                <a href="/<%=L("uri-categories")%>#categories-<%-letter%>"><%-letter.toUpperCase()%></a>
                                                <% }) %>
                                            </div>

                                            <h2 class="categories" id="categories-numbers">#<a href="#top"><%=L("top")%> ↑</a></h2>
                                            <ul class="categories">
                                            <% categories.forEach(function (category) { if(numbers.indexOf(category.name.toUpperCase()[0]) === -1 ) return; %>
                                                <li>
                                                    <a href="/<%=L("uri-category")%><%-category.full_path%>"><%-category.name%></a>
                                                </li>
                                            <% }) %>
                                            </ul>

                                            <% letters.forEach(function (letter) { %>
                                                <h2 class="categories" id="categories-<%-letter%>"><%-letter.toUpperCase()%><a href="#top"><%=L("top")%> ↑</a></h2>
                                                <ul class="categories">
                                                <% categories.forEach(function (category) { if(category.name.toUpperCase()[0] !== letter.toUpperCase()) return; %>
                                                    <li>
                                                        <a href="/<%=L("uri-category")%><%-category.full_path%>"><%-category.name%></a>
                                                    </li>
                                                <% }) %>
                                                </ul>
                                            <% }) %>
                                        </div>
                                </div> <!-- #box-holder -->
                            </div> <!-- #box-c -->
                        </div> <!-- #content-box -->
                    </div><!-- #container -->
            </div> <!-- #main -->

<%=block("UI/footer")%>