<ul class="featured-deal-thumb-list clearfix">
    <% featured_deals.forEach(function (deal) { %>
    <li style="background-image:url('<%=mImageURL(deal.image, { v: "s" })%>')">
    </li>
    <% }) %>
</ul>