<div class="deals-list">
<%
var now = (new Date()),
    len = (typeof deals !== 'undefined')? deals.length : 0;

for(var i = 0; i < len; i++) {
    %><%=block("Deal/loop-item", { deal: deals[i], now: now, i: i })%><%
}
%>
<div id="quick-search-loader"><i class="icon icon-refresh icon-spin"></i></div>
</div>