<%
function IDtoTime(id) {
    id = id.toString();
    var timehex = id.substr(0,8);
    var secondsSinceEpoch = parseInt(timehex, 16);
    return new Date(secondsSinceEpoch*1000);
}
%>
<div class="coupon type-coupon item coupon_type-sale dealDisplayItem <% if(typeof store !== 'undefined') { %>no-deal-image<% } %> <% if(i % 2 === 0) { %>even<% } %>" data-id="<%-deal._id%>">
    <div class="item-holder">
        <div class="store-holder">
            <div class="store-image">
                <% if(typeof store !== 'undefined') { %>
                <% } else { %>
                <a href="/<%-deal.store.slug%>" title="<%=L("view-store-coupons", { store_name: deal.store.name })%>">
                    <%=mImage(deal.store.logo_s, { alt: deal.store.name + " " + L("logo"), w: 180 })%>
                </a>
                <% } %>
            </div>
        </div>

        <div class="item-frame">
            <div class="item-panel">
                <div class="clear"></div>
                <div class="content-floater">
                    <h3>
                        <% if(typeof store !== 'undefined' && store) { %>
                        <% } else { %>
                        <span class="store-name">
                             <a href="/<%-deal.store.slug%>" rel="tag"><%=deal.store.name%></a>
                        </span>
                        <% } %>
                        <a href="<%=uri%>#d-<%=deal._id%>" target="_blank" data-wloc="/vd/<%=deal._id%>" title="<%=L("redeem-deal", { deal_label: deal.label })%>" class="redeem-link"><%=deal.label%></a>
                        <% if(deal.description) { %>
                        <p class="description"><%=deal.description%></p>
                        <% } %>
                    </h3>
                </div>
            </div> <!-- #item-panel -->
            <div class="clear"></div>
        </div> <!-- #item-frame -->
        <div class="redeem-area">
            <div class="inner">
                <a href="<%=uri%>#d-<%=deal._id%>" target="_blank" data-wloc="/vd/<%=deal._id%>" title="<%=L("redeem-deal", { deal_label: deal.label })%>" class="redeem-link redeem-btn">
                    <span class="redeem-txt"><%=L( deal.code? "get-coupon" : "get-deal" )%></span>
                    <i class="icon icon-arrow-right"></i>
                </a>
                <div class="block b-social" data-share-title="<%=deal.label%>">
                    <ul class="rrssb-buttons small-format clearfix">
                      <li class="rrssb-facebook small">
                        <a href="" target="_blank" title="Facebook" class="popup">
                          <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"/></svg></span>
                          <span class="rrssb-text">facebook</span>
                        </a>
                      </li>
                      <li class="rrssb-twitter small">
                        <a href="" target="_blank" title="Twitter" class="popup">
                          <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62a15.093 15.093 0 0 1-8.86-2.32c2.702.18 5.375-.648 7.507-2.32a5.417 5.417 0 0 1-4.49-3.64c.802.13 1.62.077 2.4-.154a5.416 5.416 0 0 1-4.412-5.11 5.43 5.43 0 0 0 2.168.387A5.416 5.416 0 0 1 2.89 4.498a15.09 15.09 0 0 0 10.913 5.573 5.185 5.185 0 0 1 3.434-6.48 5.18 5.18 0 0 1 5.546 1.682 9.076 9.076 0 0 0 3.33-1.317 5.038 5.038 0 0 1-2.4 2.942 9.068 9.068 0 0 0 3.02-.85 5.05 5.05 0 0 1-2.48 2.71z"/></svg></span>
                          <span class="rrssb-text">twitter</span>
                        </a>
                      </li>
                      <li class="rrssb-pinterest small">
                        <a href="" target="_blank" title="Pinterest" class="popup">
                          <span class="rrssb-icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
<path d="M14.021,1.57C6.96,1.57,1.236,7.293,1.236,14.355c0,7.062,5.724,12.785,12.785,12.785c7.061,0,12.785-5.725,12.785-12.785
    C26.807,7.294,21.082,1.57,14.021,1.57z M15.261,18.655c-1.161-0.09-1.649-0.666-2.559-1.219c-0.501,2.626-1.113,5.145-2.925,6.458
    c-0.559-3.971,0.822-6.951,1.462-10.116c-1.093-1.84,0.132-5.545,2.438-4.632c2.837,1.123-2.458,6.842,1.099,7.557
    c3.711,0.744,5.227-6.439,2.925-8.775c-3.325-3.374-9.678-0.077-8.897,4.754c0.19,1.178,1.408,1.538,0.489,3.168
    C7.165,15.378,6.53,13.7,6.611,11.462c0.131-3.662,3.291-6.227,6.46-6.582c4.007-0.448,7.771,1.474,8.29,5.239
    c0.579,4.255-1.816,8.865-6.102,8.533L15.261,18.655z"/>
</svg></span>
                          <span class="rrssb-text">pinterest</span>
                        </a>
                      </li>
                      <li class="rrssb-email small">
                        <a href="" target="_blank" title="Email">
                          <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve"><g><path d="M20.111 26.147c-2.336 1.051-4.361 1.401-7.125 1.401c-6.462 0-12.146-4.633-12.146-12.265 c0-7.94 5.762-14.833 14.561-14.833c6.853 0 11.8 4.7 11.8 11.252c0 5.684-3.194 9.265-7.399 9.3 c-1.829 0-3.153-0.934-3.347-2.997h-0.077c-1.208 1.986-2.96 2.997-5.023 2.997c-2.532 0-4.361-1.868-4.361-5.062 c0-4.749 3.504-9.071 9.111-9.071c1.713 0 3.7 0.4 4.6 0.973l-1.169 7.203c-0.388 2.298-0.116 3.3 1 3.4 c1.673 0 3.773-2.102 3.773-6.58c0-5.061-3.27-8.994-9.303-8.994c-5.957 0-11.175 4.673-11.175 12.1 c0 6.5 4.2 10.2 10 10.201c1.986 0 4.089-0.43 5.646-1.245L20.111 26.147z M16.646 10.1 c-0.311-0.078-0.701-0.155-1.207-0.155c-2.571 0-4.595 2.53-4.595 5.529c0 1.5 0.7 2.4 1.9 2.4 c1.441 0 2.959-1.828 3.311-4.087L16.646 10.068z"/></g></svg></span>
                          <span class="rrssb-text">email</span>
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="item-info-blocks">
        <% var date = (new Date(deal.end_date)); %>
        <% if(IDtoTime(deal._id) > now.getTime()-(1000*3600*24*7)) { %>
        <div class="block b-tag new">
            <%=L("new")%>
        </div>
        <% } %>
        <% if(deal.discount_percent && deal.discount_percent > 0) { %>
        <div class="block b-tag save">
            <%=L("percent-off", { discount: deal.discount_percent })%>
        </div>
        <% } else if(deal.discount && deal.discount > 0) { %>
        <div class="block b-tag save">
            <%=L("dollar-off", { discount: deal.discount })%>
        </div>
        <% } %>
    </div>
</div>