<div id="expiring-coupons-2" class="sidebox widget-custom-coupons">
    <div class="cut"></div>
    <div class="sidebox-content">
        <div class="sidebox-heading"><h2><%=L("soon-expiring-deals")%></h2></div>
        <div class="coupon-ticker">
            <ul class="list">
                <% expiring_deals.forEach(function (deal) { %>
                <li class="dealDisplayItem" data-id="<%-deal._id%>">
                    <a href="#" class="deal-widget-item"><%=deal.label%></a>
                    <div class="clearfix"></div>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="sb-bottom"></div>
</div>