<div id="deal-staff-picks">
<% var now = (new Date()); deals.forEach(function (deal) { %>
<div class="coupon type-coupon item coupon_type-sale dealDisplayItem" data-id="<%-deal._id%>">
    <div class="item-holder">
        <div class="store-holder">
            <div class="store-image">
                <a href="/<%-deal.store.slug%>" title="<%=L("view-store-coupons", { store_name: deal.store.name })%>">
                <% if(deal.image) { %>
                    <%=mImage(deal.image, { w:180, alt: deal.label })%>
                <% } else { %>
                    <%=mImage(deal.store.logo_s, { alt: deal.store.name + " " + L("logo"), width: 180 })%>
                <% } %>
                </a>
            </div>
        </div>

        <div class="item-frame">
            <div class="item-panel">
                <div class="clear"></div>                               
                <div class="content-floater">
                    <h3>
                        <span class="store-name">
                             <a href="/<%-deal.store.slug%>" rel="tag"><%=deal.store.name%></a>
                        </span>
                        <a href="#" title="<%=L("redeem-deal", { deal_label: deal.label })%>"><%=deal.label%></a>                                  
                    </h3>
                </div>
            </div> <!-- #item-panel -->
            <div class="clear"></div>
        </div> <!-- #item-frame -->
        <div class="clearfix"></div>
    </div>
        
    <div class="item-info-blocks">
        <div class="block b-social">
            <div style="text-align: left">
                <span class='st_facebook' st_title="<%-deal.label%>"></span>
                <span class='st_twitter' st_title="<%-deal.label%>"></span>
                <span class='st_pinterest' st_title="<%-deal.label%>"></span>
                <span class='st_email' st_title="<%-deal.label%>"></span>
                <span class='st_sharethis' st_title="<%-deal.label%>"></span>
            </div>
        </div>
        <% var date = (new Date(deal.end_date)); %>
        <% if(date.getTime() < now.getTime()-(1000*3600*24*7)) { %>
        <div class="block b-time-left">
            <i class="icon icon-bell"></i>
			<%=L("date", { month: L("month-name-short", { monthIndex: date.getMonth() }), day: date.getDate(), year: date.getFullYear() })%>
        </div>
        <% } %>
        <% if(deal.discount_percent && deal.discount_percent > 0) { %>
        <div class="block b-tag save">
            <%=L("percent-off", { discount: deal.discount_percent })%>
        </div>
        <% } else if(deal.discount && deal.discount > 0) { %>
        <div class="block b-tag save">
            <%=L("dollar-off", { discount: deal.discount })%>
        </div>
        <% } %>
    </div>

    <div class="clearfix"></div>

    <div class="staff-comment">
    <strong><%=L("staff-comment")%>: </strong><br>
    <%=deal.staff_pick.comment%>
    </div>
</div>
<% }) %>
</div>