<div class="about-store-box">
    <a class="logo" href="#" rel="nofollow" title="">
        <%=mImage(page.thumbnail, { w: 180 })%>
    </a>
    <h1 class="title">
        <%=page.title%>
    </h1>

    <div class="info-bar">
    <% if(page.review_score && page.review_score > 0) { %>
        <div class="review-score" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
            <div class="review-star-display">
                <% for(var ri = 0; ri < Math.ceil(page.review_score); ri++) { %>
                <i class="icon icon-star"></i>
                <% } %>
                <% for(var rj = Math.ceil(page.review_score); rj < 5; rj++) { %>
                <i class="icon icon-star-o"></i>
                <% } %>
                <span itemprop="ratingValue" class="value"><%=page.review_score%></span>
                <meta itemprop="bestRating" content="5">
            </div>
            <span class="num-reviews"><span itemprop="ratingCount"><%=page.review_count%></span> reviews</span>
        </div>
    <% } %>
    </div>

    <% if(page.content) { %>
    <div class="description">
        <div class="read-more-content one-liner">
            <%=page.content%>
        </div>
        <a href="#show-more" class="read-more-link"><%=L("show-more")%></a>
    </div>
    <% } %>

    <div class="clearfix"></div>
</div>
<br>
<br>