<div class="content-box">
    <div class="box-c">
        <div class="box-holder">
            <div class="head">
                <h1><%-page.title%></h1>
            </div> <!-- #head -->

            <div class="blog content-page">
                <%=page.content%>
            </div>

        </div> <!-- #box-holder -->
    </div> <!-- #box-c -->
</div> <!-- #content-box -->