<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">

                <div id="content-fullwidth">

                <div class="content-box">
                  <div class="blog content-page">
                    <h1 style="color: #6ada74; font-size: 30px;">Email Subscription Confirmed!</h1>
                    <p>Thank you for subscribing to our newsletter!</p>
                    <% if(typeof returnPath !== 'undefined' && returnPath) { %>
                    <p><a href="<%=returnPath%>" title="Go back where you were before subscribing to email" id='sub-go-back'>Go back where you were</a></p>
                    <% } %>
                  </div> <!-- #box-holder -->
                </div> <!-- #box-c -->


                </div>
            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>