<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">

                <div id="content-fullwidth">

                <div class="content-box">
                  <div class="blog content-page">
                    <h1 style="font-size: 30px;">Email Subscriptions Cancelled</h1>
                    <p>You have been unsubscribed from all active subscriptions on your email account.</p>
                    <p></p>
                  </div> <!-- #box-holder -->
                </div> <!-- #box-c -->


                </div>
            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>