<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main" class="blog">
                    
                <div id="content">
                    <div class="content-box">
                        <div class="box-c">
                            <div class="box-holder">
                                <div class="head">
                                    <h1><%=L("coupofy-blog")%></h1>
                                    <a href="/blog/rss/" title="<%=L("blog-rss-feed")%>" class="head-icon-link"><i class="icon icon-rss-square"></i></a>
                                </div> <!-- #head -->

                                <%=block("BlogPost/loop")%>

                                <%=block("UI/paging")%>
                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->

                </div><!-- #content -->

                <%=block("BlogPost/sidebar")%>

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>