<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main" class="blog">
                    
                <div id="content-fullwidth">
                    <div class="content-box">
                        <div class="box-c">
                            <div class="box-holder">
                                <div class="head <% if( post.languages && Object.keys(post.languages).length > 0 ) { %>with-toolbar<% } %>">
                                    <h1><%=post.title%></h1>
                                </div> <!-- #head -->


                                <div class="postItem single">
                                	<% if( post.languages && Object.keys(post.languages).length > 0 ) { %>
                                	<div class="language-toggle">
                                		<a href="/blog/<%=full_path%>" title="<%=L("view-this-post-in", { language: "English" })%>" <% if(!language) { %>class="active"<% } %>><img src="/images/flags/us.gif" alt="us" width="16" height="11"> English</a>
                                		<% 
                                			var countryCode, langText;
                                			for(var key in post.languages) {
                                				countryCode = post.languages[key].split("_").shift();
                                				langText = post.languages[key].split("_").pop();
                            			%>
                                			<a href="/blog/<%=full_path%>?l=<%-post.languages[key]%>" title="<%=L("view-this-post-in", { language: langText })%>" <% if(language === post.languages[key]) { %> class="active"<% } %>><img src="/images/flags/<%=countryCode%>.gif" alt="<%=countryCode%>" width="16" height="11"> <%=langText%></a>
                                		<% } %>
                                	</div>
                                	<% } %>
                                    <div style="text-align: left; display: block; padding-right: 20px; padding-bottom: 20px;">
                                        <span class='st_facebook_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_twitter_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_linkedin_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_reddit_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_stumbleupon_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_email_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_flipboard_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_pinterest_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                    </div>
                                    <div class="content">
                                        <%=post.content%>
                                    </div>
                                    <div style="text-align: left; display: block; padding-right: 20px;">
                                        <span class='st_facebook_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_twitter_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_linkedin_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_reddit_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_stumbleupon_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_email_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_flipboard_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                        <span class='st_pinterest_large' st_title="<%-post.title%>" st_url="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" st_image="<%=post.image || ""%>"></span>
                                    </div>
                                    <div class="info">
                                        <span class="posted"><%
                                        var date = new Date( parseInt( (post._id.toString().substring(0,8)) , 16) * 1000 );
                                        %>
										<%=L("date", { month: L("month-name-short", { monthIndex: date.getMonth() }), day: date.getDate(), year: date.getFullYear() })%></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->

                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = '<%=config("System.disqus_shortname") || "coupofy"%>';
                        
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript><%=L("disqus-enabled-js-1")%> <a href="https://disqus.com/?ref_noscript" rel="nofollow"><%=L("disqus-enabled-js-2")%></a></noscript>

                    
                </div><!-- #content -->

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>