<div class="deal-image">
	<img src="<%=mImageURL(deal.store.logo_s)%>" alt="<%=deal.label%>">
</div>
<h3 class="title"><%=deal.label%></h3>
<p class="store-line">
	<a href="/vd/<%=deal._id%>" rel="nofollow" title="<%=L("click-to-open-site")%>" target="_blank"><%=deal.store.name%></a>
    <% var date = (new Date(deal.end_date)); %>
    <% if(deal.end_date && date.getTime() > (new Date()).getTime()) { %>
	<span class="expires">
	<i class="icon icon-bell"></i>
		<%=L("date", { month: L("month-name-short", { monthIndex: date.getMonth() }), day: date.getDate(), year: date.getFullYear() })%>
    </span>
    <% } %>
</p>
<div class="clearfix"></div>
<% if(deal.restrictions) { %>
<div class="restrictions">
	<h4 class="subtitle"><%=L("restrictions")%></h4>
	<p class="text"><%=deal.restrictions%></p>
</div>
<% } %>
<% if(deal.code) { %>
<div class="code">
	<p class="code"><%=deal.code%></p>
	<p><%=L("paste-when-done-shopping")%></p>
</div>
<% } else { %>
<div class="notice no-coupon-code">
	<p class="text"><%=L("dont-need-code-redeem")%></p>
</div>
<% } %>
<div class="visitBtn">
	<a href="/vd/<%=deal._id%>" rel="nofollow" title="<%-L("click-to-open-site")%>" target="_blank"><%-L("open-site")%></a>
</div>
