<div class="inline-box store-deal-alerts">
  <strong class="info">Please subscribe to <%=store.name%>, to see this <%=(deal.code? 'coupon code' : 'deal') %></strong>

  <form class="form storeAlertSubscribeForm" <% if(store.sub_req_email_confirm) { %>data-confirm-req="true"<% } %>>
    <input type="hidden" name="store_id" value="<%=store._id%>">
    <input type="hidden" name="return_to" value="<%=store.slug%>#d-<%=deal._id%>">
    <input type="text" name="email" class="alertEmailAddress" placeholder="<%=L("enter-email-here")%>">
    <button class="btn btn-primary sub-btn" type="submit">
      <i class="icon icon-envelope-o"></i> <%=L("subscribe")%>
    </button>
  </form>
  <p class="notice"><%=L("discount-alert-notice", { store_name: store.name })%></p>
</div>
<div class="clr"></div>
