<h2><%=L("comments")%></h2>
<div class="store-comments">
    <div class="list">
        <% comments.forEach(function (comment) { %>
        <div class="comment">
            <div class="author-bar">
                <span class="author"><%=comment.author_name%></span>
                <span class="created"><%=timeDifference(comment._id.toString())%></span>
            </div>
            <div class="text"><%=comment.comment.split("\n").join("<br>")%></div>
        </div>
        <% }) %>
    </div>
    <div class="new-comment">
        <h3 class="title"><%=L("post-new-comment")%></h3>
        <form id="new-store-comment">
            <input type="hidden" name="path" value="<%=path%>">
            <div class="msg-error" style="display:none">
                <strong class='text-error'><%=L("pnc-problem-posting")%></strong>
            </div>
            <div class="msg-success" style="display:none">
                <strong class='text-success'><%=L("pnc-thank-you-for-comment")%></strong> <%=L("pnc-mod-review-publish")%>
            </div>
            <div class="field">
                <label><%=L("pnc-name")%></label>
                <input type="text" name="author_name" value="">
            </div>
            <div class="field">
                <label><%=L("pnc-email")%></label>
                <input type="text" name="author_email" value="">
            </div>
            <div class="field">
                <label><%=L("pnc-comment")%></label>
                <textarea name="comment"></textarea>
            </div>
            <div class="submit-field">
                <button type="submit" class="submit-btn"><%=L("pnc-submit-label")%></button>
            </div>
        </form>
    </div>
</div>

