<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">
                
                    <div id="content">
                        <div class="content-box">
                            <div class="box-c">
                                <div class="box-holder">
                                    <div class="head">
                                        <h2><%=L("new-discount-codes-deals")%></h2>
                                        <div class="counter">
                                        	<%=L("currently-active-coupons-count", { count: deal_total_count })%>
                                        </div>
                                    </div> <!-- #head -->

                                    <%=block("Deal/loop")%>

                                    <%=block("UI/paging")%>
                                    <div class="top">
                                        <a href="#top"><%=L("top")%> ↑</a>
                                    </div>

                                </div> <!-- #box-holder -->
                            </div> <!-- #box-c -->
                        </div> <!-- #content-box -->



                    </div><!-- #container -->

                <div id="sidebar">
                    <%=block("SearchTag/hot-searches-sidebox")%>
                    <%=block("Deal/sidebox-expiring")%>
                    <%=block("Deal/sidebox-most-popular")%>
                    <%=block("Deal/sidebox-recently-used")%>
                </div> <!-- #sidebar -->

                <div class="clearfix"></div>


                <% if(config("System.website.domain") === 'coupofy.com') { %>
	            <div class="content-box">
	                <div class="box-c">
	                    <div class="box-holder">
	                        <div class="head">
	                            <h2>About Coupofy</h2>
	                        </div> <!-- #head -->

	            			<div class="blog">
	            				<p>
		                    	Everyone loves online shopping. Goods get delivered directly to your door, the variety of products is endless, and pricing is often better than buying in-store. But did you know that by carefully searching for special offers online you may never have to pay full price again?
		                    	</p>

								<p>
								Welcome to Coupofy, your number one destination for coupon codes on the web! 
								</p>

								<p>
								With a database of over 20,000 stores and growing by the thousands every month, we have quickly become one of the largest coupons and discounts websites in the United States. We go to great lengths to verify and update our listings, so we ensure that your codes will actually work.
								</p>

								<p>
								Redeem discounts and offers today!
								</p>
	            			</div>
	                    </div> <!-- #box-holder -->
	                </div> <!-- #box-c -->
	            </div> <!-- #content-box -->



	            <div class="content-box">
	                <div class="box-c">
	                    <div class="box-holder">
	                        <div class="head">
	                            <h2>What Coupons Do We Provide?</h2>
	                        </div> <!-- #head -->

	            			<div class="blog">
	            				<p>
	            				Online stores use a wide variety of special offers to entice you to shop with them. Most of the time these come in the form of coupon codes or promo codes, a simple word or random sequence of letters that you can enter during the checkout process to redeem the offer. These could be for discounts off your order, free shipping offers, a free subscription or an extra gift. We even list offers that don't require a code to redeem.
	            				</p>
 
	            				<p>
								Sometimes stores also provide printable coupons that can be printed at home and redeemed offline at a retail outlet. They are always coming up with new and unique promotional ideas, and we're here to let you know about them.
								</p>

								<p>
								Our database covers all of the major players in online shopping and lesser known speciality stores as well. From technology to gourmet food, from designer fashion to work clothes - there's always something for everyone at Coupofy. 
								</p>
	            			</div>
	                    </div> <!-- #box-holder -->
	                </div> <!-- #box-c -->
	            </div> <!-- #content-box -->



	            <div class="content-box">
	                <div class="box-c">
	                    <div class="box-holder">
	                        <div class="head">
	                            <h2>How Do You Find and Redeem Coupon Codes?</h2>
	                        </div> <!-- #head -->

	            			<div class="blog">
	            				<p>
	            				Using Coupofy couldn't be easier. Our homepage features our most popular coupons, new codes we've just added, and offers that are expiring soon. We have a sophisticated search bar that allows you to enter a store name, product or product category, and the system will then return all stores and coupons that are relevant. You can also browse the A to Z of stores and categories until something takes your fancy.
	            				</p>

	            				<p>
								The menu also allows you to filter codes based on a number of helpful parameters. Only want to use stores that accept PayPal or Bitcoin? No problem. Looking specifically for free shipping or free gifts? You can do that too.  
								</p>

								<p>
								Once you've found an offer or coupon you want to use, simply click on it and a small window will emerge. This will display the code which you can copy to your clipboard, and clicking the link will then take you directly to the store’s website. Since some offers don't even require a code you can sometimes go to the store right away. 
								</p>

								<p>
								In most cases the code will be redeemed during the checkout process. There will be a small box to paste it in to and it will then be applied to your order.
								</p>

								<p>
								So what are you waiting for? Check out our huge database of coupon codes and promo codes today, and enjoy great offers every single time you shop!
								</p>
	            			</div>
	                    </div> <!-- #box-holder -->
	                </div> <!-- #box-c -->
	            </div> <!-- #content-box -->
                <% } %>


                <%=block("Store/featured_bottom_content_box")%>
                
            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>