<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/styles/sitemap.xsl"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url><loc><%-website_url%><%=L("uri-staff-picks")%></loc><priority>0.5</priority><changefreq>daily</changefreq></url>
	<url><loc><%-website_url%><%=L("uri-soon-expiring")%></loc><priority>0.5</priority><changefreq>daily</changefreq></url>
	<url><loc><%-website_url%><%=L("uri-stores")%></loc><priority>0.5</priority></url>
	<url><loc><%-website_url%><%=L("uri-categories")%></loc><priority>0.5</priority></url>
	<url><loc><%-website_url%><%=L("uri-types")%></loc><priority>0.5</priority></url>
	<url><loc><%-website_url%><%=L("uri-payment-options")%></loc><priority>0.5</priority></url>
	<url><loc><%-website_url%>blog</loc><priority>0.5</priority></url>

    <% if(config("System.website.domain") === 'coupofy.com') { %>
    <% blogPosts.forEach(function (post) { 
    %><url><loc><%-website_url%>blog<%=post.category_path + "/" + post.slug%></loc><priority>0.5</priority></url><% }) %>
    <% blogCategories.forEach(function (cat) {
    %><url><loc><%-website_url%>blog<%-cat.full_path%></loc><priority>0.5</priority></url><% }) %>
    <% pages.forEach(function (page) {
    %><url><loc><%-website_url%><%-page.slug%></loc><priority>0.5</priority></url><% }) %>
    <% } %>
	
    <% stores.forEach(function (store) {
    %><url><loc><%-website_url%><%-store.slug%></loc><%=lastModFormat(store.last_mod)%><priority>1.0</priority><changefreq>daily</changefreq></url><% }) %>

    <% if(website_url.indexOf("bargainfox.co.uk") === -1) { storeCategories.forEach(function (cat) { 
    %><url><loc><%-website_url%><%=L("uri-category")%><%-cat.full_path%></loc><%=lastModFormat(cat.last_mod)%><priority>0.5</priority><changefreq>daily</changefreq></url><% }) } %>

    <% dealTypes.forEach(function (type) {
    %><url><loc><%-website_url%><%=L("uri-type")%>/<%-type.slug%></loc><%=lastModFormat(type.last_mod)%><priority>0.5</priority><changefreq>daily</changefreq></url><% }) %>

    <% paymentOptions.forEach(function (payo) {
    %><url><loc><%-website_url%><%=L("uri-payment-options")%>/<%-payo.slug%></loc><%=lastModFormat(payo.last_mod)%><priority>0.5</priority><changefreq>daily</changefreq></url><% }) %>

</urlset>