<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">
                
                <div id="content-fullwidth">
                    <div class="content-box review-single">
                        <div class="box-c">
                            <div class="box-holder">
                                <div class="head">
                                    <h1>Review Of <%=store.name%></h1>
                                </div> <!-- #head -->

                                    <div class="review-item">
                                        <div class="container">
                                        <div class="storeDisplay">
                                        <div class="store-image">
                                            <%=mImage(store.logo_s, { alt: store.name + " " + L("logo") })%>
                                        </div>
                                        <div class="review">
                                        <% function outputStars(rating) {
                                            var stars = Math.round(rating*5);
                                            for(var i = 0; i < stars; i++) {
                                                %>
                                                <i class="icon icon-star"></i>
                                                <%
                                            }
                                        } %> 
                                            <ul class="ratings">
                                                <li class="rating-display">
                                                    <span class="title">Price</span>
                                                    <div class="bar"><div class="score"><% outputStars(store.review.rating_price); %></div></div>
                                                </li>
                                                <li class="rating-display">
                                                    <span class="title">Performance</span>
                                                    <div class="bar"><div class="score"><% outputStars(store.review.rating_performance); %></div></div>
                                                </li>
                                                <li class="rating-display">
                                                    <span class="title">Support</span>
                                                    <div class="bar"><div class="score"><% outputStars(store.review.rating_support); %></div></div>
                                                </li>
                                                <li class="rating-display">
                                                    <span class="title">Verdict</span>
                                                    <div class="bar special"><div class="score"><% outputStars(store.review.rating_verdict); %></div></div>
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                            <div class="summary">
                                                <%=store.review.text%>
                                            </div>
                                        <div class="clearfix"></div>
                                        </div>
                                    </div>

                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->
                </div><!-- #content -->

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>