<%=block("UI/head")%>
<%=block("UI/header")%>

            <div id="main">
                
                    
                    <div id="content">
                        <div class="content-box">
                            <div class="box-c">
                                <div class="box-holder">
                                        <div class="head">
                                            <h1>Submit Coupons</h1>
                                        </div> <!-- #head -->
                                        <div class="blog">
                                        <% if(success) { %>
                                        <h3>Thank you for submission</h3>
                                        <p>Your coupon has been submitted successfully and will be reviewed by our team before added to the database.</p>
                                        <% } else { %>
                                        <p>
                                        	Have a coupon or a promotion that is not on Coupofy yet?<br>
                                        	Please use form below to submit it to our team which will review and publish it.
                                        </p>

                                        <form action="/submit-coupons-process-form" method="POST">

                                        	<label>Store Name</label>
                                        	<input type="text" value="" name="store_name">

                                        	<label>Store Website</label>
                                        	<input type="text" value="" name="store_website">

                                        	<label>Coupon Code</label>
                                        	<input type="text" value="" name="coupon_code">

                                        	<label>Coupon Description</label>
                                        	<textarea name="coupon_description"></textarea>

                                        	<label>Expiration Date</label>
                                        	<input type="text" value="" name="coupon_expiry_date">

                                        	<label>Your Email</label>
                                        	<input type="text" value="" name="email">

                                        	<button type="submit">Submit</button>
                                        	
                                        </form>
                                        <% } %>

                                        </div>
                                </div> <!-- #box-holder -->
                            </div> <!-- #box-c -->
                        </div> <!-- #content-box -->
                    </div><!-- #container -->
            </div> <!-- #main -->

<%=block("UI/footer")%>