<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">
                
    <div style="width: 50%">
        <div id="coupofy-widget-student-discount" class="coupofy-widget">
        <a href="http://www.coupofy.com/" class="coupofy-link" title="Coupofy">
        <img src="http://www.coupofy.com/images/logo/coupofy_light_ns_xs.png" height="31" width="100" alt="coupofy logo">
        </a>
        </div>
        <script type="text/javascript">
            (function() {
                var coupofyStudentWidget = document.createElement('script'); coupofyStudentWidget.type = 'text/javascript'; coupofyStudentWidget.async = true;
                coupofyStudentWidget.src = 'http://api.coupofy.com/widgets/student-discount.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(coupofyStudentWidget);
            })();
        </script>
    </div><!-- col-sm-6 -->
    <div style="width: 50%">
        <div id="coupofy-widget-bargains" class="coupofy-widget">
        <a href="http://www.coupofy.com/" class="coupofy-link" title="Coupofy">
        <img src="http://www.coupofy.com/images/logo/coupofy_light_ns_xs.png" height="31" width="100" alt="coupofy logo">
        </a>
        </div>
        <script type="text/javascript">
        var coupofyBRC = "";
            (function() {
                var coupofyBargainsWidget = document.createElement('script'); coupofyBargainsWidget.type = 'text/javascript'; coupofyBargainsWidget.async = true;
                coupofyBargainsWidget.src = 'http://api.coupofy.com/widgets/bargains.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(coupofyBargainsWidget);
            })();
        </script>
    </div><!-- col-sm-6 -->


            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>