<%=block("UI/head")%>
<%=block("UI/header")%>

<% var letters = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
    var numbers = [ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']; %>

            <div id="main">
                <div id="content-fullwidth">
                	<h3><%=L("browse-stores-by-alphabet")%></h3>
                	<div class="alphabet-navigation">
                        <a href="/<%=L("uri-stores")%>/0-9" class="nav-item" title="<%=L("store-beginning-with-title", { letter_symbol: "#" })%>">#</a>
                        <% letters.forEach(function (letter) { %>
                        <a href="/<%=L("uri-stores")%>/<%-letter.toUpperCase()%>" class="nav-item" title="<%=L("store-beginning-with", { letter: letter.toUpperCase() })%>">
                        	<%-letter.toUpperCase()%>
                        </a>
                        <% }) %>
                	</div>

                	<h3><%=L("browse-stores-coupons-by-category")%></h3>
                	<ul class="col4-list-display">
                		<% root_categories.forEach(function (category) { %>
                		<li class="item">
                			<a class="name" href="/<%=L("uri-category")%>/<%=category.slug%>" title="<%=L("view-stores-coupons-in-category", { category_name: category.name })%>"><%=category.name%></a>
                		</li>
                		<% }) %>
                	</ul>

                </div>
            </div> <!-- #main -->

<%=block("UI/footer")%>