<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">
                <div id="content-fullwidth">

<% var letters = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
    var numbers = [ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']; %>

                	<div class="alphabet-navigation">
                        <a href="/<%=L("uri-stores")%>/0-9" class="nav-item <% if(letter_symbol === '#') { %>active<% } %>" title="<%=L("store-beginning-with-title", { letter_symbol: "#" })%>">#</a>
                        <% letters.forEach(function (letter) { %>
                        <a href="/<%=L("uri-stores")%>/<%-letter.toUpperCase()%>" class="nav-item <% if(letter_symbol === letter.toUpperCase()) { %>active<% } %>" title="<%=L("store-beginning-with", { letter: letter.toUpperCase() })%>">
                        	<%-letter.toUpperCase()%>
                        </a>
                        <% }) %>
                	</div>

                    <div class="content-box">
                        <div class="box-c">
                            <div class="box-holder">
                                <div class="head">
                                    <h1><%=L("store-beginning-with-title", { letter_symbol: letter_symbol })%></h1>
                                </div> <!-- #head -->
                                
                                <div class="blog content-page">
								<ul class="col4-list-display">
								<% stores.forEach(function (store) { %>
								    <li class="item">
								        <a href="<%-store.slug%>" title="<%-store.name%>">
								        	<% if(store.name.length > 20) { %>
								        	<%=store.name.substr(0,20)%>...
								        	<% } else { %>
								        	<%=store.name%>
								        	<% } %>
								        </a>
								    </li>
								<% }) %>
								</ul>
								</div>


                                <div class="top">
                                    <a href="#top"><%=L("top")%> ↑</a>
                                </div>

                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->
                </div><!-- #content -->

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>