<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main" itemscope itemtype="http://schema.org/Store" data-store-id="<%=store._id%>">
            	<div class="about-store-box">
            		<a class="logo" href="/vs/<%-store._id%>" rel="nofollow" title="<%=L("visit-shop")%>">
                    <%=mImage(store.logo_s, { alt: store.name + " " + L("logo"), w: 180 })%>
                    </a>
                    <h1 class="title">
                    	<%
                      var defaultHeading = L("store-title", {
                                now_year: (new Date()).getFullYear(),
                                store: store
                          }),
                          heading = store.custom_heading || defaultHeading;

                      heading = heading.replace(
                          store.name,
                          '<span itemprop="name">' +
                              store.name +
                          '</span>'
                      );

                      print(heading);
                      %>
                    </h1>

                    <div class="info-bar">
                    <% if(store.review_score && store.review_score > 0) { %>
	                    <div class="review-score" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
	                    	<div class="review-star-display">
	                    		<% for(var ri = 0; ri < Math.ceil(store.review_score); ri++) { %>
	                    		<i class="icon icon-star"></i>
	                    		<% } %>
	                    		<% for(var rj = Math.ceil(store.review_score); rj < 5; rj++) { %>
	                    		<i class="icon icon-star-o"></i>
	                    		<% } %>
	                    		<span itemprop="ratingValue" class="value"><%=store.review_score%></span>
	                    		<meta itemprop="bestRating" content="5">
	                    	</div>
	                    	<span class="num-reviews"><span itemprop="ratingCount"><%=store.review_count%></span> reviews</span>
	                    </div>
	                <% } %>
                    <% if(!store.hide_top_stats) { %>
	                    <div class="info-item">
	                    	<span class="num-products"><%=store.views_today%></span>
	                    	<span class="num-products-label"><%=L("views-today")%></span>
	                    </div>
	                    <div class="info-item">
	                    	<span class="num-products"><%=store.deals_redeemed_today%></span>
	                    	<span class="num-products-label"><%=L("deals-redeemed-today")%></span>
	                    </div>
                    <% } %>
                    </div>

                    <% if(store.description) { %>
                    <div class="description">
		            	<div class="read-more-content one-liner">
		            		<%=store.description%>
		            	</div>
		            	<a href="#show-more" class="read-more-link"><%=L("show-more")%></a>
	            	</div>
	            	<% } %>

                    <ul class="nav-bar">
                    <!-- Only show this if deal sections are active -->
	                    <% if(deals.length > 10) { %>
                    	<li class="dropdown">
                    		<a href="#"><%=L("jump-to-deals")%>... <i class="icon icon-caret-down"></i></a>
                    		<div class="dropdown-content">
		                    <div id="store-deal-section-nav">
		                    	<a href="/<%-store.slug%>#top" class="store-link" title="<%=L("go-to-top")%>"><%=store.name%></a>
		                        <% for(var sId in sections) { if(sections[sId].deals.length === 0) continue; %>
		                    	<a href="/<%-store.slug%>#<%=sId%>" class="section-link" title="<%=L("go-to-deal-section", { section_name: sections[sId].title })%>"><%=sections[sId].title%> (<%=sections[sId].deals.length%>)</a>
		                        <% } %>
		                    </div>
		                    </div>
                    	</li>
	                    <% } %>
                    	<% if(store.facebook || store.twitter || store.instagram || store.pinterest) { %>
                    	<li><a href="/<%-store.slug%>#social-networks"><i class="icon icon-share-alt"></i> <%=store.name%> <%=L("on-social-media")%></a></li>
                    	<% } %>
	                    <% if(store.d_payment_methods) { %>
                    	<li><a href="/<%-store.slug%>#payment-methods"><i class="icon icon-money"></i> <%=store.name%> <%=L("payment-methods")%></a></li>
	                    <% } %>
	                    <% if(store.d_shipping_options) { %>
                    	<li><a href="/<%-store.slug%>#shipping-options"><i class="icon icon-truck"></i> <%=store.name%> <%=L("shipping-options")%></a></li>
	                    <% } %>
	                    <% if(store.d_return_policy) { %>
                    	<li><a href="/<%-store.slug%>#return-policy"><i class="icon icon-undo"></i> <%=store.name%> <%=L("return-policy")%></a></li>
	                    <% } %>
	                    <% if(related_stores && related_stores.length > 0) { %>
                    	<li><a href="/<%-store.slug%>#related-stores"><i class="icon icon-sitemap"></i> <%=L("related-stores")%></a></li>
                    	<% } %>
                    </ul>

                    <div class="clearfix"></div>
            	</div>

                <%=block("Store/banner", { banners: store.banners, position: 'top' })%>

                <div id="content<% if(store.no_sidebar) { %>-fullwidth<% } %>" class="">
                    <div class="content-box">
                        <div class="box-c">
                            <div class="box-holder">
                                <% if(deals.length > 7) { %>
	                                <% var i = 0; for(var sId in sections) { if(sections[sId].deals.length === 0) continue; %>
	                                	<a name="<%=sId%>" class="deal-section-anchor <% if(i === 0) { %>first<% } %>"></a>
	                                	<h2 class="deal-section"><%=sections[sId].title%></h2>
	                                	<%=block("Deal/loop", { deals: sections[sId].deals, store: store })%>
	                                	<% if(i === 0) { %>
                                        <% if(!store.hide_inline_subscribe_box) { %>
                                			<%=block("Store/subscribe-box")%>
                                        <% } %>
	                                	<% } %>
	                            	<% i++; } %>
                            	<% } else { %>
                                	<%=block("Deal/loop")%>
                                    <% if(!store.hide_inline_subscribe_box) { %>
                            		<%=block("Store/subscribe-box")%>
                                    <% } %>
                            	<% } %>

                                <%=block("Store/banner", { banners: store.banners, position: 'bottom' })%>
                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->

                    <% if(store.d_what_company_sells) { %>
                        <%=block("UI/content-box", { title: L("what-does-store-sell", { store_name: store.name }), content: store.d_what_company_sells, contentWrap: true })%>
                    <% } %>

                    <% if(store.d_payment_methods) { %>
	            		<a name="payment-methods" class="offset-anchor"></a>
                        <%=block("UI/content-box", { title: L("payment-methods"), content: store.d_payment_methods, contentWrap: true })%>
                    <% } %>

                    <% if(store.d_return_policy) { %>
	            		<a name="return-policy" class="offset-anchor"></a>
                        <%=block("UI/content-box", { title: L("return-policy"), content: store.d_return_policy, contentWrap: true })%>
                    <% } %>

                    <% if(store.d_shipping_options) { %>
	            		<a name="shipping-options" class="offset-anchor"></a>
                        <%=block("UI/content-box", { title: L("shipping-options"), content: store.d_shipping_options, contentWrap: true })%>
                    <% } %>

                    <% if(store.content_boxes && store.content_boxes.length > 0) { %>
                    	<% store.content_boxes.forEach(function (cb) { cb.contentWrap = true; %>
                        <%=block("UI/content-box", cb)%>
                    	<% }) %>
                    <% } %>

                    <% if(store.review && store.review.text && store.review.display) { %>
                        <%=block("UI/content-box", { title: L("staff-review"), content: block("Store/staff-review"), contentWrap: true })%>
                    <% } %>

                    <br>



                    <%=block("Comment/comments-section", { path: "Store/" + store._id, comments: comments })%>

                </div><!-- #content -->

                <% if(!store.no_sidebar) { %>
                <%=block("Store/banner", { banners: store.banners, position: 'right' })%>
                <%=block("Store/sidebar")%>
                <% } %>
                <% if(!setting("Store", "hide_related_bottom")) { %>
                <%=block("Store/related_bottom_content_box")%>
                <% } %>
            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>
