<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">
                    
                <div id="content">
                    <div class="content-box">
                        <div class="box-c">
                            <div class="box-holder">
                                <div class="head">
                                    <h1><%=L("paid-with-payment-option", { pay_name: payoption })%></h1>
                                </div> <!-- #head -->

                                
                                <%=block("Deal/loop")%>


                                <%=block("UI/paging")%>
                                <div class="top">
                                    <a href="#top"><%=L("top")%> ↑</a>
                                </div>

                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->
                </div><!-- #content -->

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>