<%=block("UI/head")%>
<%=block("UI/header")%>

            <div id="main">
                
                        
                    <div id="content">
                        <div class="content-box">
                            <div class="box-c">
                                <div class="box-holder">
                                        <div class="head">
                                            <h1><%=L("browse-by-payment-option")%></h1>
                                        </div> <!-- #head -->
                                        <style type="text/css">
                                            .payLogo {
                                                width: 106px; height: 70px; line-height: 70px; text-align-center; display: inline-block
                                            }
                                            .payLogo img {
                                                width: 95px !important;
                                            }
                                        </style>
                                        <div class="blog">
                                            <a href="/<%=L("uri-payment-option")%>/paypal" class="payLogo" title="<%=L("payment-option-supported", { pay_name: "PayPal" })%>">
                                                <img src="https://www.paypal-community.com/t5/image/serverpage/image-id/10498i9662491295327039?v=mpbl-1" style="width: 70px;" alt="PayPal">
                                            </a>
                                            <a href="/<%=L("uri-payment-option")%>/bitcoin" class="payLogo" title="<%=L("payment-option-supported", { pay_name: "BitCoin" })%>">
                                                <img src="http://cdn3-i.hitc-s.com/128/bitcoin_logo_31993.jpg" style="width: 70px;" alt="BitCoin">
                                            </a>
                                            <a href="/<%=L("uri-payment-option")%>/bill-me-later" class="payLogo" title="<%=L("payment-option-supported", { pay_name: "BillMeLater" })%>">
                                                <img src="http://lib.store.yahoo.net/lib/acekaraoke/billmelater01.png" style="width: 70px;" alt="BillMeLater">
                                            </a>
                                            <a href="/<%=L("uri-payment-option")%>/amazon-payments" class="payLogo" title="<%=L("payment-option-supported", { pay_name: "Amazon Payments" })%>">
                                                <img src="http://techgage.com/wp-content/uploads/2014/06/Amazon-Payments-Logo.png" style="width: 70px;" alt="Amazon Payments">
                                            </a>
                                            <a href="/<%=L("uri-payment-option")%>/vme" class="payLogo" title="<%=L("payment-option-supported", { pay_name: "VME" })%>">
                                                <img src="https://www.de.payzen.eu/wp-content/uploads/2014/04/vme.jpg" style="width: 70px;" alt="VME">
                                            </a>
                                            <a href="/<%=L("uri-payment-option")%>/wu-pay" class="payLogo" title="<%=L("payment-option-supported", { pay_name: "Western Union" })%>">
                                                <img src="http://cdn.cashmoneylife.com/wp-content/uploads/2009/10/western-union-wu-pay-lolo.png" style="width: 70px;" alt="WU Pay">
                                            </a>
                                        </div>
                                </div> <!-- #box-holder -->
                            </div> <!-- #box-c -->
                        </div> <!-- #content-box -->
                    </div><!-- #container -->
            </div> <!-- #main -->

<%=block("UI/footer")%>