<% if(!ajax) { %>
<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">
                    
                <div id="content">
                    <div class="content-box">
                        <div class="box-c search-results">
                            <div id="search-results-loader">
                                <i class="icon icon-refresh icon-spin"></i>
                            </div>
                            <div class="box-holder">
<% } %>
                                <div class="head">
                                    <h1><%=L("search-results-for", { q: q })%></h1>
                                </div> <!-- #head -->

                                <%=block("Deal/loop")%>

                                <%=block("UI/paging")%>
                                <div class="top">
                                    <a href="#top"><%=L("top")%> ↑</a>
                                </div>
<% if(!ajax) { %>
                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->
                </div><!-- #content -->

                <div id="sidebar">
                    <div class="sidebox search-filters">
                        <div class="sidebox-content">
                            <div class="sidebox-heading">
                                <h2><%=L("filters")%></h2>
                            </div>
                            <div class="store-widget">
                                <form action="/search" id="search-filter-form" method="get">
                                    <input type="hidden" name="ajax" value="true">

                                    <h5 class="filter-title" style="margin-top: 0"><%=L("keywords")%></h5>
                                    <input type="text" name="q" value="<%-q%>" class="qInput">

                                    <h5 class="filter-title"><%=L("category")%></h5>
                                    <select name="category[]" multiple="multiple">
                                        <% input.category.forEach(function (cat) { %>
                                        <option selected="selected" value="<%-cat%>"><%-cat.substr(1).split("/").join(" / ").split("-").join(" ")%></option>
                                        <% }) %>
                                    </select>

                                    <h5 class="filter-title"><%=L("type")%></h5>
                                    <select name="type[]" multiple="multiple">
                                        <% input.type.forEach(function (type) { %>
                                        <option selected="selected"><%-type%></option>
                                        <% }) %>
                                    </select>

                                    <h5 class="filter-title"><%=L("store")%></h5>
                                    <select name="store[]" multiple="multiple">
                                        <% selected_stores.forEach(function (store) { %>
                                        <option selected="selected" value="<%-store._id%>"><%-store.name%></option>
                                        <% }) %>
                                    </select>

                                    <h5 class="filter-title"><%=L("payment-options")%></h5>
                                    <select name="payment_method[]" multiple="multiple">
                                        <option value="bitcoin" <% if(input.payment_method.indexOf("bitcoin") !== -1) { %>selected="selected"<% } %>>bitcoin</option>
                                        <option value="paypal" <% if(input.payment_method.indexOf("paypal") !== -1) { %>selected="selected"<% } %>>PayPal</option>
                                        <option value="bill-me-later" <% if(input.payment_method.indexOf("bill-me-later") !== -1) { %>selected="selected"<% } %>>Bill Me Later</option>
                                        <option value="amazon-payments" <% if(input.payment_method.indexOf("amazon-payments") !== -1) { %>selected="selected"<% } %>>Amazon Payments</option>
                                        <option value="vme" <% if(input.payment_method.indexOf("vme") !== -1) { %>selected="selected"<% } %>>vme</option>
                                        <option value="wu-pay" <% if(input.payment_method.indexOf("wu-pay") !== -1) { %>selected="selected"<% } %>>Western Union Pay</option>
                                    </select>

                                    <h5 class="filter-title"><%=L("badges")%></h5>
                                    <label class="checkBoxLabel" for="staff_pick_deals_input"><input type="checkbox" name="staff_pick" id="staff_pick_deals_input" value="true" <% if(input.staff_pick === true) { %>checked="checked"<% } %>> <%=L("staff-pick")%></label>

                                    <button type="submit" style="opacity: 0"><%=L("submit")%></button>

                                </form>
                            </div>

                            <div class="clr"></div>
                        </div>
                    </div>
                </div>

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>
<% } %>