<%=block("UI/head")%>
<%=block("UI/header")%>
            <div id="main">
                    
                <div id="content-fullwidth">
                    <div class="content-box">
                        <div class="box-c">
                            <div class="box-holder">
                                <div class="head">
                                    <h1><%=L("coupons-deals-hand-picked")%></h1>
                                    <div class="counter">
                                    	<%=L("active-coupons-count", { count: itemCount })%>
                                    </div>
                                </div> <!-- #head -->

                                <%=block("Deal/staff-picks-loop")%>

                                <%=block("UI/paging")%>
                                <div class="top">
                                    <a href="#top"><%=L("top")%> ↑</a>
                                </div>

                            </div> <!-- #box-holder -->
                        </div> <!-- #box-c -->
                    </div> <!-- #content-box -->
                </div><!-- #content -->

            </div> <!-- #main -->
        </div> <!-- #w1 -->

<%=block("UI/footer")%>