<%
function outputCategories(categories,parent, current_category_path) {
    print('<ul class="navList">');
    categories.forEach(function (cat) {
        if(cat.path === parent) {
            print('<li class="catDisplayItem ' + ((current_category_path && current_category_path === cat.full_path)? "active" : "") + '"><a href="/blog' + cat.full_path + '" class="catLink">' + cat.name + '</a>')    
            outputCategories(categories, cat.full_path, current_category_path);
            print('</li>');
        }
    });
    print('</ul>');
}

if(categories && categories.length > 0) {
%>
<div class="sidebox about-store">
    <div class="sidebox-content">
        <div class="sidebox-heading">
            <h2><%=L("blog-categories")%></h2>
        </div>
        <div class="categories-navigation">
            <% outputCategories(categories, "",current_category_path) %>
        </div>

        <div class="clr"></div>
    </div>
</div>
<% } %>