<% if(bottom_featured_stores && bottom_featured_stores.length > 0) { %>
<div class="content-box">
    <div class="box-c">
        <div class="box-holder">
            <div class="head">
                <h1><%=L("featured-stores")%></h1>
            </div> <!-- #head -->
            <div class="blog">
                <ul class="store-link-list clearfix">
                    <% bottom_featured_stores.forEach(function (store) { %>
                    <li>
                        <a href="/<%-store.slug%>" title="<%=store.name%>"><%=store.name%></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% } %>