<ul class="store-thumb-list clearfix">
    <% featured_stores.forEach(function (store) { %>
    <li>
        <%=mImage(store.logo_s, { alt: store.name + " " + L("logo"), class: "logo-img", w: 110 })%>
        <a href="/<%-store.slug%>" title="<%=L("store-coupons", { store_name: store.name })%>"><%=L("store-coupons", { store_name: store.name })%></a>
    </li>
    <% }) %>
</ul>
