<% if(stores && stores.length > 0) { %>
<div id="full-content" class="category-featured-stores">
    <div class="content-box">
        <div class="box-c">
            <div class="box-holder">
                <div class="head">
                    <h1><%=L("featured-stores")%></h1>
                </div> <!-- #head -->
                <%=block("Store/featured-tiles", { stores: featured_stores })%>
            </div>
        </div>
    </div>
</div>
<% } %>