
<% if(store.facebook) { %>
<p class="store-lr">
    <a href="<%-store.facebook%>" rel="nofollow" target="_blank" title="Facebook"><i class="icon icon-facebook"></i></a>
</p>
<% } %>
<% if(store.twitter) { %>
<p class="store-lr">
    <a href="<%-store.twitter%>" rel="nofollow" target="_blank" title="Twitter"><i class="icon icon-twitter"></i></a>
</p>
<% } %>
<% if(store.pinterest) { %>
<p class="store-lr">
    <a href="<%-store.pinterest%>" rel="nofollow" target="_blank" title="Pinterest"><i class="icon icon-pinterest"></i></a>
</p>
<% } %>
<% if(store.youtube) { %>
<p class="store-lr">
    
    <a href="<%-store.youtube%>" rel="nofollow" target="_blank" title="Youtube"><i class="icon icon-youtube"></i></a>
</p>
<% } %>
<% if(store.instagram) { %>
<p class="store-lr">
    <a href="<%-store.instagram%>" rel="nofollow" target="_blank" title="Instagram"><i class="icon icon-instagram"></i></a>
</p>
<% } %>
<% if(store.wikipedia) { %>
<p class="store-lr">
    <a href="<%-store.wikipedia%>" rel="nofollow" target="_blank" title="Wikipedia"><i class="icon icon-wikipedia-w"></i></a>
</p>
<% } %>
<% if(store.google_play) { %>
<p class="store-lr">
    
    <a href="<%-store.google_play%>" rel="nofollow" target="_blank" title="Google Play"><i class="icon icon-play"></i></a>
</p>
<% } %>
<% if(store.itunes) { %>
<p class="store-lr">
    <a href="<%-store.itunes%>" rel="nofollow" target="_blank" title="iTunes"><i class="icon icon-apple"></i></a>
</p>
<% } %>