<% if(related_stores && related_stores.length > 0) { %>
<div class="content-box">
    <div class="box-c">
        <div class="box-holder">
			<a name="related-stores" class="offset-anchor"></a>
            <div class="head">
                <h2><%=L("related-stores")%></h2>
            </div> <!-- #head -->
            <div class="blog">
                <ul class="store-link-list clearfix">
                    <% related_stores.forEach(function (store) { if(similar_stores.indexOf(store) >= 0) { return; } %>
                    <li>
                        <a href="/<%-store.slug%>" title="<%=L("store-coupons", { store_name: store.name })%>"><%=store.name%></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% } %>