<div id="sidebar">
                    <% if(store.screenshot) { %>
                    <div class="sidebox visit-store-thumb">
                        <div class="sidebox-content">
                            <div class="sidebox-heading">
                                <h2><%=L("visit-shop")%></h2>
                            </div>
                        </div>
                        <a itemprop="url" href="/vs/<%=store._id%>" rel="nofollow" title="<%=L("visit-shop")%>" class="link">
                        <%=mImage(store.screenshot, { v: "s", itemprop: "logo", class: "screenshot", w: 310, alt: L("store-site-screenshot", { store_name: store.name }) })%>
                        </a>
                    </div>
                    <% } %>
                    <% if(similar_stores && similar_stores.length > 0) { %>
                    <div class="sidebox similar-stores">
                        <div class="sidebox-content">
                            <div class="sidebox-heading">
                                <h2><%=L("similar-deals")%></h2>
                            </div>
                            <% similar_stores.forEach(function (ss) { %>
                            <div class="storeTile">
	                            <a href="/<%=ss.slug%>" title="<%=L("view-store-coupons", { store_name: ss.name })%>">
                                    <%=mImage(ss.logo_s, { alt: ss.name + " " + L("logo"), class: "logo" })%>
	                        	</a>
	                            <a href="/<%=ss.slug%>" title="<%=L("view-store-coupons", { store_name: ss.name })%>" class="name">
	                            	<%=ss.name%>
	                            </a>
                            	<span class="discounts-available"><%=L("discounts-available", { deal_count: ss.deal_count })%></span>
                        	</div>
                            <% }) %>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <% } %>
                    <% if(store.deal_count > 0 && store.insight) { %>
                    <div class="sidebox">
                        <div class="sidebox-content">
                            <div class="sidebox-heading">
                                <h2><%=L("store-deal-summary", { store_name: store.name })%></h2>
                            </div>
                            <div class="store-widget">
                                <ul class="why-store-insight">
                                <li><span class="title"><%=L("total-deals")%>: </span><span class="value"><%-store.deal_count%></span></li>
                                <li><span class="title"><%=L("new-deals-today")%>: </span><span class="value"><%-store.insight.added_today%></span></li>
                                <li><span class="title"><%=L("deals-expiring-today")%>: </span><span class="value"><%-store.insight.expiring_today%></span></li>
                                <% if( store.insight.free_shipping_offers > 0 ) { %>
                                <li><span class="title"><%=L("free-shipping-deals")%>: </span><span class="value"><%-store.insight.free_shipping_offers%></span></li>
                                <% } %>
                                <% if( store.insight.total_used > 0 ) { %>
                                <li><span class="title"><%=L("deals-used")%>: </span><span class="value"><%-store.insight.total_used%></span></li>
                                <% } %>
                                <% if( store.insight.average_saving > 0 ) { %>
                                <li><span class="title"><%=L("average-savings")%>: </span><span class="value">$<%-Math.round(store.insight.average_saving)%>.00</span></li>
                                <% } %>
                                <% if( store.insight.total_saving > 0 ) { %>
                                <li><span class="title"><%=L("total-savings-sum")%>: </span><span class="value">$<%-Math.round(store.insight.total_saving)%>.00</span></li>
                                <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% if(store.homepage || store.email || store.phone) { %>
                    <div class="sidebox">
                        <div class="sidebox-content">
                            <div class="sidebox-heading">
                                <h2><%=L("contact-info", { store_name: store.name })%></h2>
                            </div>
                            <div class="store-widget">
                                <% if(store.homepage) { %>
                                <p class="lr">
                                    <i class="icon icon-globe"></i>
                                    <a href="/vs/<%-store._id%>" rel="nofollow" target="_blank"><%=L("homepage")%></a>
                                </p>
                                <% } %>
                                <% if(store.email) { %>
                                <p class="lr">
                                    <i class="icon icon-envelope"></i>
                                    <%-store.email%>
                                </p>
                                <% } %>
                                <% if(store.phone) { %>
                                <p class="lr">
                                    <i class="icon icon-phone"></i>
                                    <span itemprop="telephone"><%-store.phone%></span>
                                </p>
                                <% } %>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <% } %>
                    <% if(store.address) { %>
                    <div class="sidebox">
                        <div class="sidebox-content">
                            <div class="sidebox-heading">
                                <h2><%=L("address")%></h2>
                            </div>
                            <div class="store-widget">
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="streetAddress"><%-store.address%></span><br>
                                    <span><%-store.zip%></span> <span itemprop="addressLocality"><%-store.city%></span>,
                                    <span itemprop="addressRegion"><%-store.state%></span><br>
                                    <span itemprop="addressCountry"><%-store.country%></span>
                                </div>
                            </div>
                        </div>
                        <iframe width="320" height="240" frameborder="0" style="border:0; display: block;" src="https://www.google.com/maps/embed/v1/place?q=<%=(store.address + " " + store.city + " " + store.state).split(" ").join("%20")%>&key=AIzaSyCEk0Eezeke1bGd3ZUVLz9piR6x5SuAI9o"></iframe>
                    </div>
                    <% } %>
                    <% if(store.facebook || store.twitter || store.instagram || store.pinterest) { %>
	            		<a name="social-networks" class="offset-anchor"></a>
	                    <div class="sidebox">
	                    	<div class="sidebox-content">
	                    		<div class="sidebox-heading">
	                    			<h2><%=L("links")%></h2>
	                    		</div>
	                    		<div class="store-widget">
	                    			<div class="desc">
	                    				<%=block("Store/links")%>
	                				</div>
	                			</div>
	                			<div class="clr"></div>
	                		</div>
	                	</div>
                    <% } %>
                    <div class="sidebox store-deal-alerts">
                    	<div class="sidebox-content">
                    		<div class="sidebox-heading green">
                    			<h2><%=L("discount-alerts")%></h2>
                    		</div>
                    		<div class="store-widget">
                    			<div class="desc">
                    				<strong class="info"><%=L("discount-alert-store-msg", { store_name: store.name })%></strong>
                					<form class="form storeAlertSubscribeForm">
                						<input type="hidden" name="store_id" value="<%=store._id%>">
                						<input type="text" name="email" class="alertEmailAddress" placeholder="<%=L("enter-email-here")%>">
                						<button class="btn btn-primary" type="submit"><%=L("subscribe")%></button>
                					</form>
                				</div>
                			</div>
                			<div class="clr"></div>
                		</div>
                	</div>

                    <% if(store.twitter && store.twitter.trim() && typeof tweets !== 'undefined' && tweets && tweets.length > 0) { %>
                    <div class="sidebox store-deal-alerts">
                    	<div class="sidebox-content">
                    		<div class="sidebox-heading">
                    			<h2><%=L("latest-tweets-from") + " <a target='_blank' rel='nofollow' class='twitterBoxHeadLink' href='https://twitter.com/" + store.twitter.split("/").pop() + "'>@" + store.twitter.split("/").pop() +"</a>"%></h2>
                    		</div>
                    		<div class="store-widget">
                    			<div class="desc">
                    				<%=block("Store/tweets")%>
                				</div>
                			</div>
                			<div class="clr"></div>
                		</div>
                	</div>
                    <% } %>



                </div> <!-- #sidebar -->