<% var ri, rj; %>
<div class="staff-review-display-scores">
	<div class="review-score">
		<span class="title"><%=L("price-rating")%></span>
		<div class="review-star-display">
    		<% for(ri = 0; ri < Math.ceil(store.review.rating_price*5); ri++) { %>
    		<i class="icon icon-star"></i>
    		<% } %>
    		<% for(rj = Math.ceil(store.review.rating_price*5); rj < 5; rj++) { %>
    		<i class="icon icon-star-o"></i>
    		<% } %>
		</div>
	</div>
	<div class="review-score">
		<span class="title"><%=L("performance-rating")%></span>
		<div class="review-star-display">
    		<% for(ri = 0; ri < Math.ceil(store.review.rating_performance*5); ri++) { %>
    		<i class="icon icon-star"></i>
    		<% } %>
    		<% for(rj = Math.ceil(store.review.rating_performance*5); rj < 5; rj++) { %>
    		<i class="icon icon-star-o"></i>
    		<% } %>
		</div>
	</div>
	<div class="review-score">
		<span class="title"><%=L("support-rating")%></span>
		<div class="review-star-display">
    		<% for(ri = 0; ri < Math.ceil(store.review.rating_support*5); ri++) { %>
    		<i class="icon icon-star"></i>
    		<% } %>
    		<% for(rj = Math.ceil(store.review.rating_support*5); rj < 5; rj++) { %>
    		<i class="icon icon-star-o"></i>
    		<% } %>
		</div>
	</div>
	<div class="review-score verdict">
		<span class="title"><%=L("verdict-rating")%></span>
		<div class="review-star-display">
    		<% for(ri = 0; ri < Math.ceil(store.review.rating_verdict*5); ri++) { %>
    		<i class="icon icon-star"></i>
    		<% } %>
    		<% for(rj = Math.ceil(store.review.rating_verdict*5); rj < 5; rj++) { %>
    		<i class="icon icon-star-o"></i>
    		<% } %>
		</div>
	</div>
</div>

<div class="staff-review-content"><%=store.review.text%></div>