<div class="inline-box store-deal-alerts">
	<strong class="info"><%=L("discount-alert-store-msg2", { store_name: store.name })%></strong>

	<form class="form storeAlertSubscribeForm">
		<input type="hidden" name="store_id" value="<%=store._id%>">
		<input type="text" name="email" class="alertEmailAddress" placeholder="<%=L("enter-email-here")%>">
		<button class="btn btn-primary sub-btn" type="submit">
			<i class="icon icon-envelope-o"></i> <%=L("subscribe")%>
		</button>
	</form>
	<p class="notice"><%=L("discount-alert-notice", { store_name: store.name })%></p>
</div>
<div class="clr"></div>