<%
function linkify(str) {
	if(!str) return "";

    // http://, https://, ftp://
    var urlPattern = /\b(?:https?|ftp):\/\/[a-z0-9-+&@#\/%?=~_|!:,.;]*[a-z0-9-+&@#\/%=~_|]/gim;

    // www. sans http:// or https://
    var pseudoUrlPattern = /(^|[^\/])(www\.[\S]+(\b|$))/gim;

    // Email addresses
    var emailAddressPattern = /[\w.]+@[a-zA-Z_-]+?(?:\.[a-zA-Z]{2,6})+/gim;

    return str
        .replace(urlPattern, '<a href="$&" target="_blank" rel="nofollow">$&</a>')
        .replace(pseudoUrlPattern, '$1<a href="http://$2" target="_blank" rel="nofollow">$2</a>')
        .replace(emailAddressPattern, '<a href="mailto:$&" target="_blank" rel="nofollow">$&</a>');
};
%>
<div class="blog">
    <div class="clipper-mt-display">
    <% if(tweets && typeof tweets === 'object' && tweets.forEach) { tweets.forEach(function (tweet) { %>
        <div class="tweet">
            <div class="body">
                <%=linkify(tweet.text)%>
            </div>
            <div class="date">
                <% var date = (new Date(tweet.created_at)); %>
				<%=L("date", { month: L("month-name-short", { monthIndex: date.getMonth() }), day: date.getDate(), year: date.getFullYear() })%>
            </div>
        </div>
    <% }) } %>
    </div>
</div>