<script type="text/javascript">
    var Website = {
        CFG: { apiUrl: '<%=website_url%>', website: { _id: "<%-website_id%>", url: "<%=website_url%>" } },
        API: null
    };
    var switchTo5x=true;
</script>
<script type="text/javascript" src="bundle.js<%-versionAppend%>"></script>