<% if(typeof active === 'undefined' || !active) { %>
<div class="bc-item" id="l<%-l%>-bc" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" <% if(l !== 0) { %>itemprop="child"<% } %> <% if(typeof next === 'undefined' || next === true) { %>itemref="l<%-(l+1)%>-bc"<% } %>>
	<a href="<%=url%>" itemprop="url" title="<%=title%>">
		<span itemprop="title"><%=title%></span>
	</a>
	<i class="icon icon-caret-right"></i>
</div>
<% } else { %>
<div class="bc-item active">
	<span itemprop="title"><%=title%></span>
</div>
<% } %>