<div class="content-box">
    <div class="box-t">&nbsp;</div>
    <div class="box-c">
        <div class="box-holder">
            <div class="head">
                <h2><%=title%></h2>
            </div> <!-- #head -->

            <% if(typeof contentWrap !== 'undefined' && contentWrap) { %><div class="blog"><% } %>
            <%=content%>
            <% if(typeof contentWrap !== 'undefined' && contentWrap) { %></div><% } %>
        </div> <!-- #box-holder -->

    </div> <!-- #box-c -->
</div> <!-- #content-box -->