<%
var versionAppend = version? "?v=" + version : "";
%>
        <div id="footer">
            <div class="panel">

            	<form id="footer-subscribe-form">
            		<div class="checkbox">
            			<input type="checkbox" name="chkbox_weekly_best_deals" name="" value="1" checked="checked" id="chkbox_weekly_best_deals"> <label for="chkbox_weekly_best_deals"><%=L("best-deals-weekly")%></label>
            		</div>
            		<div class="checkbox">
            			<input type="checkbox" name="chkbox_weekly_new_stores" name="" value="1" checked="checked" id="chkbox_weekly_new_stores"> <label for="chkbox_weekly_new_stores"><%=L("new-stores-weekly")%></label>
            		</div>
            		<div class="checkbox">
            			<input type="checkbox" name="chkbox_website_news" id="chkbox_website_news" value="1" checked="checked"> <label for="chkbox_website_news"><%=L("website-news-monthly")%></label>
            		</div>
            		<div class="checkbox">
            			<input type="checkbox" name="chkbox_blog" id="chkbox_blog" value="1" checked="checked"> <label for="chkbox_blog"><%=L("blog")%></label>
            		</div>
            		<div class="clearfix"></div>
            		<input type="text" name="email" value="" placeholder="<%=L("enter-email-here")%>" class="email-input">
            		<button type="submit" class="submit-btn"><i class="icon icon-envelope-o"></i> <%=L("subscribe")%></button>
            	</form>

            </div> <!-- panel -->

            <div class="bar">
                <div class="bar-holder">
                    <ul id="menu-footer-sharing" class="menu">
                        <% if( config("System.website.domain") === 'coupofy.com') { %>
                        <li class="menu-item icon-item"><a href="https://twitter.com/CoupofyUSA" rel="nofollow" target="_blank" title="Coupofy on Twitter"><i class="icon icon-twitter"></i></a></li>
                        <li class="menu-item icon-item"><a href="https://www.facebook.com/CoupofyUSA" rel="nofollow" target="_blank" title="Coupofy on Facebook"><i class="icon icon-facebook"></i></a></li>
                        <li class="menu-item icon-item"><a href="https://www.linkedin.com/company/10298669" rel="nofollow" target="_blank" title="Coupofy on LinkedIn"><i class="icon icon-linkedin"></i></a></li>
                        <li class="menu-item icon-item"><a href="mailto:support@<%=config("System.website.domain")%>" rel="nofollow" title="<%=L("email-us")%>"><i class="icon icon-envelope-o"></i></a></li>
                        <% } %>
                        <% if( config("System.website.domain") === 'dr-discount.nl') { %>
                        <li class="menu-item icon-item"><a href="https://twitter.com/" rel="nofollow" target="_blank" title="dr-Discount op Twitter"><i class="icon icon-twitter"></i></a></li>
                        <li class="menu-item icon-item"><a href="https://www.facebook.com/" rel="nofollow" target="_blank" title="dr-Discount op Facebook"><i class="icon icon-facebook"></i></a></li>
                        <li class="menu-item icon-item"><a href="mailto:info@<%=config("System.website.domain")%>" rel="nofollow" title="<%=L("email-us")%>"><i class="icon icon-envelope-o"></i></a></li>
                        <% } %>
                    </ul>
                    <ul id="menu-footer-main" class="menu">
                        <% if(config("System.website.domain") === 'coupofy.com') { %>
                        <li id="menu-item-121129" class="menu-item"><a href="http://www.coupofy.com/about-us/">About Us</a></li>
                        <li class="menu-item"><a href="http://www.coupofy.com/team/">Team</a></li>
                        <li class="menu-item"><a href="/<%=L("uri-stores")%>">Stores</a></li>
                        <li class="menu-item "><a href="/<%=L("uri-categories")%>">Categories</a></li>
                        <li class="menu-item"><a href="http://www.coupofy.com/careers/">Careers</a></li>
                        <li class="menu-item"><a href="http://www.coupofy.com/blog">Blog</a></li>
                        <li class="menu-item"><a href="http://www.coupofy.com/help/">CSR</a></li>
                        <li class="menu-item"><a href="http://www.coupofy.com/privacy-policy/">Privacy Policy</a></li>
                        <li class="menu-item"><a href="mailto:affiliate.partners@coupofy.com" title="Become Our Affiliate Partner">Become Our Affiliate Partner</a></li>
                        <% if(current_page === 'UI/index') { %>
                        <li class="menu-item"><a href="https://www.bargainfox.co.uk/" title="All your discount codes and vouchers"><img src="images/flags/gb.gif" height="11" width="16" alt="Great Britain flag"></a></li>
                        <% } %>
                        <% } %>
                        <% if(current_page === 'UI/index') { %><li class="menu-item"><a href="https://www.dealsunny.com" title="DealSunny"><img src="/images/flags/in.gif" width="16" height="11" alt="India"></a></li><% } %>
                    </ul>
                    <p>
                    	Copyright &copy; 2015 <a href="<%=website_url%>" target="_blank"><%=config("System.website.domain")%></a>
                	</p>
                </div>
            </div>
        </div> <!-- #footer -->

    </div>
    <div id="popupBg" class="deal"></div>
    <div id="popupBox" class="deal">
        <a href="#close" title="<%=L("close-this-popup")%>" class="closeBtn"><i class="icon icon-times"></i></a>
        <div class="content-box content"></div>
    </div>
    <%=block("UI/body-end", { versionAppend: versionAppend })%>
    </body>
</html>