<%
var versionAppend = version? "?v=" + version : "",
	meta = module.getMeta(current_page, d),
	blogPost = (typeof current_page !== 'undefined' && current_page === 'BlogPost/post'),
	dLanguages = config("System.languages");
	if(!dLanguages) dLanguages = ["en_US"];
%><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%-meta.description%>">
    <% if((blogPost && post.status === 'demo-post') || current_page === 'Store/stores-letter') { %>
    <meta name="robots" content="noindex, nofollow">
    <% } %>
    <% if(blogPost) { %>
    <meta property="og:type" content="Article" />
    <meta property="og:locale" content="<%=dLanguages[0]%>" />
	<meta property="og:title" content="<%=post.title%>" />
	<meta property="og:description" content="<%=meta.description%>" />
	<meta property="og:url" content="<%=website_url%>blog<%=post.category_path + "/" + post.slug%>" />
	<meta property="og:image" content="<%=imageUrl%>" />
	<meta property="og:site_name" content="<%=config("System.site_name")%>" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@<%=config("System.twitter_profile_id")%>">
	<meta name="twitter:title" content="<%=post.title%>">
	<meta name="twitter:description" content="<%=meta.description%>">
	<meta name="twitter:creator" content="@<%=config("System.twitter_profile_id")%>">
	<meta name="twitter:image" content="<%=imageUrl%>">
	<meta name="twitter:image:src" content="<%=imageUrl%>">
    <% } else { %>
	<meta property="og:locale" content="<%=dLanguages[0]%>" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="<%-logoURL()%>" />
	<meta property="og:title" content="<%-meta.title%>" />
	<meta property="og:url" content="<%=config("System.url")%>" />
	<meta property="og:site_name" content="<%=config("System.site_name")%>" />
    <% } %>
    <base href="<%-website_url%>">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title><%-meta.title%></title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic" />
    <link rel="stylesheet" type="text/css" href="styles/style.css<%-versionAppend%>" />
    <%=config("System.ga_code")%>
</head>