    <body class="<%-(typeof bodyClass !== 'undefined')? bodyClass : ""%>" role="document">
    <%=config("System.after_open_body_code") || ""%>
        <div id="wrapper">
        <div class="bg">&nbsp;</div>
        <div class="w1">
            <div id="header">
                <div class="holder holder-logo clearfix">
                    <div class="frame">
                        <div class="header-bar">
                            <div id="logo">
                                <a href="/" title="<%=L("header-logo-link-title")%>">
                                    <img src="<%-logoURL()%>" alt="<%=L("header-logo-alt")%>" />
                                </a>
                            </div>
                            <div class="search-box">
                                <form method="POST" class="search" id="searchform" action="/search" >
                                    <button id="Search" title="<%=L("search")%>" type="submit" class="btn-submit"><i class="icon icon-search icon-large"></i></button>
                                    <input type="text" class="newtag" name="q" value="<% if(typeof q !== 'undefined' && q) { print(q); } %>" placeholder="<%=L("top-search-placeholder")%>" />
                                </form>
                            </div>
                            <div class="nav-toggle-link">
                                <i class="icon icon-bars"></i>
                                <div class="nav">
                                    <i class="icon icon-caret-up"></i>
                                    <div class="inner">
                                    <a href="/" title="" class="item">
                                        <i class="icon icon-home"></i>
                                        <span class="text"><%=L("home")%></span>
                                    </a>
                                    <a href="/<%=L("uri-categories")%>" title="" class="item">
                                        <i class="icon icon-sitemap"></i> <!-- Categories -->
                                        <span class="text"><%=L("deal-categories")%></span>
                                    </a>
                                    <a href="/<%=L("uri-types")%>" title="" class="item">
                                        <i class="icon icon-tags"></i> <!-- Types -->
                                        <span class="text"><%=L("deal-types")%></span>
                                    </a>
                                    <a href="/<%=L("uri-stores")%>" title="" class="item">
                                        <i class="icon icon-building"></i> <!-- Stores -->
                                        <span class="text"><%=L("stores")%></span>
                                    </a>
                                    <a href="/<%=L("uri-payment-options")%>" title="" class="item">
                                        <i class="icon icon-money"></i> <!-- Payment Options -->
                                        <span class="text"><%=L("payment-options")%></span>
                                    </a>
                                    <a href="/<%=L("uri-staff-picks")%>" class="item">
                                        <i class="icon icon-thumbs-up"></i> <!-- Staff Picks -->
                                        <span class="text"><%=L("staff-picks")%></span>
                                    </a>
                                    <a href="/<%=L("uri-soon-expiring")%>" class="item">
                                        <i class="icon icon-exclamation-circle"></i> <!-- Soon expiring -->
                                        <span class="text"><%=L("soon-expiring")%></span>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- #frame -->
                </div> <!-- #holder -->
            </div> <!-- #header -->

            <div id="featured-top" class="slider_area">
                <div class="frame">
                    <% if(current_page === 'UI/index') { %>
                    	<div class="bg">
                    		<img src="/images/homepage-coupons-banner.jpg" alt="coupons background image">
						</div>
                    <% } %>
                    <% if(typeof category !== 'undefined' && category && category.big_banner) { %>
                    	<div class="bg">
                    		<img src="/Category/big-banner/<%=category.big_banner%>" alt="<%=category.name%> banner">
						</div>
                    <% } %>
                    <% if(typeof includeFeaturedStores !== 'undefined' && includeFeaturedStores) { %>
                        <%=block("Store/featured-tiles")%>
                    <% } %>
                    <% if(current_page !== 'UI/index') { %>
                        <%=block("UI/breadcrumbs")%>
                    <% } %>
                </div>
            </div>