<% var pages = Math.round((itemCount - (itemCount % perPage)) / perPage) + 1; %>
<% if(pages > 1 && (current_page === "BlogPost/blog" || current_page === 'BlogCategory/category')) { %>
<div class="paging">
    <div class="pages">
        <span class="total">Page <%-currentPage*1%> of <%-pages%></span>
        <% if(currentPage > 1) {
        	var jstart = (Math.abs(currentPage*1 - 3));
        	if(jstart === 0) jstart = 1;
	        for(var j = jstart; j < currentPage; j++) { %>
                <a class="page-numbers" href="<%-uri%><%-(uri.indexOf("?") >= 0)? "&page=" + j : "?page=" + j%>"><%-j%></a>
	        <% }
	       } %>
        <% for(var i = currentPage*1; i <= pages && i < currentPage*1 + 3; i++) { %>
	        <% if(currentPage*1 === i) { %>
	        	<span class="page-numbers current"><%-i%></span>
	        <% } else { %>
	        	<a class="page-numbers" href="<%-uri%><%-(uri.indexOf("?") >= 0)? "&page=" + i : "?page=" + i%>"><%-i%></a>
	    	<% } %>
        <% } %>
        <% if(pages > 3) { %>
        <% if(!((currentPage*1 + 3) > pages)) { %>
        <span class="page-numbers dots">…</span>
        <% } %>
        <a class="page-numbers" href="<%-uri%><%-(uri.indexOf("?") >= 0)? "&page=" + pages : "?page=" + pages%>"><%-pages%></a>
        <% } %>
    </div>
    <div class="clr"></div>
</div>
<% } %>