<% if(hot_searches.length > 0) { %>
<div id="hot-searches-sidebox" class="sidebox">
    <div class="cut"></div>
    <div class="sidebox-content">
        <div class="sidebox-heading"><h2>Hot Searches</h2></div>
        <div class="coupon-ticker">
            <ul class="list">
                <% hot_searches.forEach(function (search) { %>
                <li>
                    <a href="/search?q=<%-encodeURI(search.t)%>" title="Search for <%-search.t%>" rel="nofollow"><%-search.t%></a>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="sb-bottom"></div>
</div>
<% } %>